Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Replace uvicorn --reload with an inherited-socket supervisor
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  examples/aws-ecs/web/vite.config.ts
  examples/pulse-mantine/web/vite.config.ts
  examples/railway/web/vite.config.ts
  examples/web/vite.config.ts
  packages/pulse/js/package.json
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/js/tsdown.config.ts
  packages/pulse/python/src/pulse/cli/_windows_launcher.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/guard.py
  packages/pulse/python/src/pulse/cli/ports.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_guard.py
  packages/pulse/python/tests/test_ports.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
  tutorial/examples/web/vite.config.ts
Due: biome-check

Fix import order and Vite config formatting
  bun.lock
  examples/aws-ecs/web/vite.config.ts
  examples/railway/web/vite.config.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

docs: clarify uv/bun exposed via ~/.bashrc; no PATH prefix needed
  AGENTS.md
Due: none

ci: add Dockerfile-based Cursor Cloud environment config
  .cursor/Dockerfile
  .cursor/environment.json
  AGENTS.md
Due: biome-check

Unify channel wire protocol on type=channel + action
  KNOWN_ISSUES.md
  docs/content/docs/(core)/advanced/middleware.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  docs/content/docs/reference/pulse/middleware.mdx
  packages/pulse-mantine/python/tests/test_combobox_store.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/middleware.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
  skills/pulse/references/channels.md
  skills/pulse/references/middleware.md
Due: biome-check

docs: drop Cursor Cloud section from AGENTS.md; fold general gotchas into guidelines
  AGENTS.md
Due: none

Set up Cursor Cloud dev environment (#133)
  .cursor/Dockerfile
  .cursor/environment.json
  AGENTS.md
Due: biome-check

Ignore the entire web/ tree in the Python watcher
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
Due: none

Wait for pulseVitePlugin to report Vite listening
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
Due: biome-check

Simplify the supervisor around inherited ready pipes
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/guard.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_guard.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Fix Windows pass_fds test typing for basedpyright
  packages/pulse/python/tests/test_processes.py
Due: none

Rename pulseVitePlugin to pulse
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  examples/aws-ecs/web/vite.config.ts
  examples/pulse-mantine/web/vite.config.ts
  examples/railway/web/vite.config.ts
  examples/web/vite.config.ts
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
  tutorial/examples/web/vite.config.ts
Due: biome-check

Drop unit tests for the Vite plugin
  packages/pulse/js/src/vite.test.ts
Due: biome-check

Split example UI testing: agent-browser vs Cursor built-in browser
  AGENTS.md
Due: none

Expect supervisor bootstrap codegen and verbose uvicorn logging
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Keep interned ChannelBridge objects across unsubscribes
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/reference/pulse-client/classes.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/js/src/notifications.test.tsx
  packages/pulse-mantine/js/src/notifications.tsx
  packages/pulse-mantine/js/src/tree.tsx
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/python/src/pulse/js/pulse.py
  skills/pulse/references/channels.md
Due: biome-check

Generate routes before Vite and restore verbose uvicorn logs
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/tests/test_reload.py
Due: none

chore: add disposable cloud agent smoke test file
  CLOUD_AGENT_SMOKE_TEST.md
Due: none

Expect Vite ready-pipe drain and plugin restart safety
  packages/pulse/js/src/vite.test.ts
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Keep the Vite ready pipe open for in-process restarts
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/reload.py
Due: biome-check

Switch channel wire protocol to typed action messages
  packages/pulse/js/src/messages.ts
  packages/pulse/python/src/pulse/messages.py
Due: biome-check

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
