Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Fix form action prefix and Mantine example
  bun.lock
  examples/pulse-mantine/01-basic-form.py
  examples/pulse-mantine/web/package.json
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
Due: biome-check, bun-install

Use wait_for in async tests
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_inline_effects.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Clarify renderer component errors
  packages/pulse/python/src/pulse/renderer.py
Due: none

Improve docs metadata
  docs/app/(home)/page.tsx
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/layout.tsx
  docs/app/og/docs/[...slug]/route.tsx
  docs/app/og/home/route.tsx
  docs/lib/source.ts
Due: biome-check

Document bun info usage
  AGENTS.md
Due: none

pulse 0.1.60
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

allow expressions as element tag, export Notifications from pulse-mantine, bump versions
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
  packages/pulse/js/package.json
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/vdom.py
  packages/pulse/python/tests/test_renderer.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix css module asset naming
  packages/pulse/python/src/pulse/transpiler/assets.py
  packages/pulse/python/tests/transpiler/test_imports.py
Due: none

Ignore server_address in dev
  packages/pulse/python/src/pulse/app.py
Due: none

pulse-aws update: package, example, docs
  docs/content/docs/(core)/concepts/deployment.mdx
  docs/content/docs/packages/pulse-aws.mdx
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/meta.json
  docs/content/docs/packages/pulse-aws/reference.mdx
  docs/content/docs/reference/pulse-transpiler/nodes.mdx
  examples/aws-ecs/.dockerignore
  examples/aws-ecs/Dockerfile
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/scripts/teardown.py
  packages/pulse-aws/scripts/verify.py
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/plugin.py
Due: biome-check

type fixes and cleanups
  examples/pulse-mantine/05-css-modules.py
  examples/pulse-mantine/06-notifications.py
  packages/pulse-mantine/python/src/pulse_mantine/core/base.py
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/python/src/pulse/js/obj.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler/modules/typing.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/py_module.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

bump pulse, pulse-mantine, pulse-aws
  bun.lock
  packages/pulse-aws/pyproject.toml
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

ps.require API, better node warnings, AGENTS.md tweak
  AGENTS.md
  docs/content/docs/reference/pulse-transpiler/imports-assets.mdx
  docs/content/docs/reference/pulse/index.mdx
  docs/content/docs/reference/pulse/js-interop.mdx
  packages/pulse-mantine/python/src/pulse_mantine/charts/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/core/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/dates/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/form/__init__.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/requirements.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_nodes.py
Due: none

bump pulse and pulse-mantine
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add pulse-mantine JS exports docs and skill
  .claude/skills/pulse-mantine/SKILL.md
  .claude/skills/pulse-mantine/references/charts.md
  .claude/skills/pulse-mantine/references/core.md
  .claude/skills/pulse-mantine/references/dates.md
  .claude/skills/pulse-mantine/references/forms.md
  docs/content/docs/packages/pulse-mantine/js-exports.mdx
  docs/content/docs/packages/pulse-mantine/meta.json
Due: biome-check

Overhaul Pulse skill
  skills/pulse/SKILL.md
  skills/pulse/references/app.md
  skills/pulse/references/channels.md
  skills/pulse/references/context.md
  skills/pulse/references/dom.md
  skills/pulse/references/errors.md
  skills/pulse/references/examples.md
  skills/pulse/references/forms.md
  skills/pulse/references/helpers.md
  skills/pulse/references/hooks.md
  skills/pulse/references/js-interop.md
  skills/pulse/references/middleware.md
  skills/pulse/references/queries.md
  skills/pulse/references/reactive.md
  skills/pulse/references/routing.md
  skills/pulse/references/sessions.md
  skills/pulse/references/state.md
  skills/pulse/references/transpiler.md
Due: none

Add missing Recharts components
  packages/pulse-recharts/src/pulse_recharts/__init__.py
  packages/pulse-recharts/src/pulse_recharts/cartesian.py
  packages/pulse-recharts/src/pulse_recharts/charts.py
  packages/pulse-recharts/src/pulse_recharts/common.py
  packages/pulse-recharts/src/pulse_recharts/general.py
  packages/pulse-recharts/src/pulse_recharts/polar.py
  packages/pulse-recharts/src/pulse_recharts/shapes.py
  packages/pulse-recharts/src/pulse_recharts/version.py
  packages/pulse-recharts/tests/test_components.py
Due: none

Bump pulse-recharts to 0.1.5
  packages/pulse-recharts/pyproject.toml
  uv.lock
Due: none

Add scheduling registries and cancel on close
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix scheduling exports and typecheck
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
Due: none

Make wait side-effect free; add ensure
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/reference/pulse/queries.mdx
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/protocol.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Fix async scheduling and cancel logging
  Makefile
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_scheduling.py
Due: none

Fix query refetch interval semantics
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
