Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Add callback history and instance tracking for views
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
  packages/pulse/python/tests/test_socket_lifecycle.py
  specs/independent-rendering.md
Due: biome-check

Fix reconnect lifecycle queue cleanup
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
Due: biome-check

Reload real remounts during StrictMode grace
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Preserve route resources during StrictMode replay
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix documented client lifecycle messages
  docs/content/docs/reference/pulse-client/types.mdx
Due: none

Preserve messages across socket replacement
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_app_message_order.py
Due: none

Reserve sender capacity for attach acknowledgements
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_config.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Avoid replaying in-flight socket messages
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_app_message_order.py
Due: none

Fix uncontrolled MantineForm updates
  .claude/skills/pulse-mantine/references/forms.md
  bun.lock
  docs/content/docs/packages/pulse-mantine/forms.mdx
  docs/content/docs/packages/pulse-mantine/js-exports.mdx
  packages/pulse-mantine/TUTORIAL.md
  packages/pulse-mantine/js/README.md
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/connect.test.tsx
  packages/pulse-mantine/js/src/form/connect.tsx
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/python/pyproject.toml
  skills/pulse-mantine/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix uncontrolled MantineForm updates (#112)
  .claude/skills/pulse-mantine/references/forms.md
  bun.lock
  docs/content/docs/packages/pulse-mantine/forms.mdx
  docs/content/docs/packages/pulse-mantine/js-exports.mdx
  packages/pulse-mantine/TUTORIAL.md
  packages/pulse-mantine/js/README.md
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/connect.test.tsx
  packages/pulse-mantine/js/src/form/connect.tsx
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/python/pyproject.toml
  skills/pulse-mantine/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Expand skills: latency guidance, QueryParam, form gotchas, Dropzone, AG Grid
  skills/README.md
  skills/pulse-ag-grid/SKILL.md
  skills/pulse-mantine/SKILL.md
  skills/pulse-mantine/references/dropzone.md
  skills/pulse-mantine/references/forms.md
  skills/pulse-railway/SKILL.md
  skills/pulse/SKILL.md
  skills/pulse/references/errors.md
  skills/pulse/references/js-interop.md
  skills/pulse/references/queries.md
  skills/pulse/references/routing.md
  skills/pulse/references/state.md
  skills/pulse/references/transpiler.md
Due: none

Expand skills: latency guidance, QueryParam, form gotchas, Dropzone, AG Grid (#113)
  skills/README.md
  skills/pulse-ag-grid/SKILL.md
  skills/pulse-mantine/SKILL.md
  skills/pulse-mantine/references/dropzone.md
  skills/pulse-mantine/references/forms.md
  skills/pulse-railway/SKILL.md
  skills/pulse/SKILL.md
  skills/pulse/references/errors.md
  skills/pulse/references/js-interop.md
  skills/pulse/references/queries.md
  skills/pulse/references/routing.md
  skills/pulse/references/state.md
  skills/pulse/references/transpiler.md
Due: none

Add supervised Python reload coordination via Vite plugin
  bun.lock
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  examples/aws-ecs/web/vite.config.ts
  examples/pulse-mantine/web/vite.config.ts
  examples/railway/web/vite.config.ts
  examples/web/vite.config.ts
  packages/pulse/js/package.json
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/js/tsdown.config.ts
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  paseo.json
  skills/pulse/SKILL.md
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

Connect Mantine list fields to forms
  bun.lock
  docs/content/docs/packages/pulse-mantine/forms.mdx
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/connect.test.tsx
  packages/pulse-mantine/js/src/form/connect.tsx
  packages/pulse-mantine/js/src/form/fields.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/multi_select.py
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/tags_input.py
  packages/pulse-mantine/python/src/pulse_mantine/core/inputs/checkbox.py
  packages/pulse-mantine/python/tests/test_connected_fields.py
  skills/pulse-mantine/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Connect Mantine list fields to forms (#114)
  bun.lock
  docs/content/docs/packages/pulse-mantine/forms.mdx
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/connect.test.tsx
  packages/pulse-mantine/js/src/form/connect.tsx
  packages/pulse-mantine/js/src/form/fields.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/multi_select.py
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/tags_input.py
  packages/pulse-mantine/python/src/pulse_mantine/core/inputs/checkbox.py
  packages/pulse-mantine/python/tests/test_connected_fields.py
  skills/pulse-mantine/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Preserve structured form values
  bun.lock
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse/forms.mdx
  docs/content/docs/reference/pulse/index.mdx
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/js/src/form/payload.test.ts
  packages/pulse-mantine/js/src/form/payload.ts
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse-mantine/python/typecheck/form_values.py
  packages/pulse/js/package.json
  packages/pulse/js/src/form.test.ts
  packages/pulse/js/src/form.tsx
  packages/pulse/js/src/form.typecheck.ts
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/tests/test_forms.py
  skills/pulse/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Preserve structured form values (#115)
  bun.lock
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse/forms.mdx
  docs/content/docs/reference/pulse/index.mdx
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/js/src/form/payload.test.ts
  packages/pulse-mantine/js/src/form/payload.ts
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse-mantine/python/typecheck/form_values.py
  packages/pulse/js/package.json
  packages/pulse/js/src/form.test.ts
  packages/pulse/js/src/form.tsx
  packages/pulse/js/src/form.typecheck.ts
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/tests/test_forms.py
  skills/pulse/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix named form property shadowing
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse/js/src/serialize/elements.ts
  packages/pulse/js/src/serialize/events.test.ts
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
Due: biome-check

Document DOM node serialization errors
  docs/content/docs/reference/pulse-client/serialization.mdx
  skills/pulse/references/js-interop.md
Due: none

Fix named form property shadowing (#116)
  docs/content/docs/reference/pulse-client/serialization.mdx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse/js/src/serialize/elements.ts
  packages/pulse/js/src/serialize/events.test.ts
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  skills/pulse/references/js-interop.md
Due: biome-check

Add v5 marker serializer; fix v4 serialization bugs
  packages/pulse/js/src/serialize/marker-serializer.test.ts
  packages/pulse/js/src/serialize/marker-serializer.ts
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/js/test/marker-serializer-interop.ts
  packages/pulse/python/src/pulse/marker_serializer.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/tests/test_marker_serializer.py
  packages/pulse/python/tests/test_marker_serializer_interop.py
  packages/pulse/python/tests/test_serializer.py
  paseo.json
Due: biome-check

Clean up serializer implementation
  docs/content/docs/reference/pulse-client/serialization.mdx
  packages/pulse-mantine/python/tests/test_combobox_store.py
  packages/pulse-pandas/src/pulse_pandas/__init__.py
  packages/pulse/js/README.md
  packages/pulse/js/benchmarks/serializer.ts
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/serialize/clean.test.ts
  packages/pulse/js/src/serialize/clean.ts
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/benchmarks/serializer.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_forms.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_serializer.py
  packages/pulse/python/tests/test_serializer_interop.py
  packages/pulse/python/tests/test_serializer_wire.py
  skills/pulse/references/helpers.md
  skills/pulse/references/sessions.md
Due: biome-check

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
