Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Add Web Animations API support (Animation, KeyframeEffect, DocumentTimeline)
  docs/content/docs/reference/pulse-js/builtins.mdx
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/js/_types.py
  packages/pulse/python/src/pulse/js/animation.py
  packages/pulse/python/src/pulse/js/document.py
  packages/pulse/python/tests/transpiler/test_js.py
  skills/pulse/references/js-interop.md
  skills/pulse/references/transpiler.md
Due: none

pulse 0.1.77
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add ref callbacks and out-of-render refs
  docs/content/docs/(core)/advanced/refs.mdx
  docs/content/docs/reference/pulse/refs.mdx
  examples/refs.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/dom/props.py
  packages/pulse/python/src/pulse/dom/tags.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_renderer.py
  skills/pulse/SKILL.md
  skills/pulse/references/refs.md
Due: none

Tie ref lifecycle to element
  docs/content/docs/(core)/advanced/refs.mdx
  docs/content/docs/reference/pulse/refs.mdx
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_renderer.py
  skills/pulse/SKILL.md
  skills/pulse/references/refs.md
Due: none

rework
  docs/content/docs/(core)/advanced/refs.mdx
  docs/content/docs/reference/pulse/refs.mdx
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/vdom.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_renderer.py
  skills/pulse/references/refs.md
Due: biome-check

wip
  AGENTS.md
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
Due: none

Add persistent error overlay
  .gitignore
  AGENTS.md
  examples/error_types.py
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.test.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/debounce.py
  packages/pulse/python/src/pulse/errors.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_debounce.py
  packages/pulse/python/tests/test_errors.py
  packages/pulse/python/tests/test_examples.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_scheduling.py
  plans/error-routing-overhaul.md
  plans/ref-task-error-routing.md
  skills/README.md
  skills/anti-pattern/SKILL.md
Due: biome-check

Show persistent dev error overlay
  AGENTS.md
Due: none

Implement closeable error overlay
  AGENTS.md
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  examples/error_types.py
  packages/pulse/js/src/errorOverlay.test.tsx
  packages/pulse/js/src/errorOverlay.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/pulse.test.ts
  packages/pulse/js/src/pulse.tsx
Due: biome-check

Fix Pulse AWS task affinity and navigation errors
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/reference.mdx
  examples/aws-ecs/Dockerfile
  examples/aws-ecs/README.md
  examples/aws-ecs/main.py
  packages/pulse-aws/README.md
  packages/pulse-aws/examples/Dockerfile
  packages/pulse-aws/examples/__init__.py
  packages/pulse-aws/examples/aws_minimal_server.py
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/scripts/README.md
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/constants.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse-aws/tests/test_artifacts.py
  packages/pulse-aws/tests/test_baseline_helper.py
  packages/pulse-aws/tests/test_cli.py
  packages/pulse-aws/tests/test_deployment.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse-aws/tests/test_reaper_lambda.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Prevent generate during running dev
  packages/pulse/python/README.md
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_lock.py
  uv.lock
Due: none

Fix pulse-aws deploy path handling and cleanup
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/reference.mdx
  packages/pulse-aws/README.md
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/tests/test_cli.py
  packages/pulse-aws/tests/test_deployment.py
Due: none

Update docs for affinity headers
  docs/content/docs/packages/pulse-aws/reference.mdx
  packages/pulse-aws/README.md
  packages/pulse-aws/src/pulse_aws/constants.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse-aws/tests/test_deployment.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse-aws/tests/test_reaper_lambda.py
Due: none

Simplify branch cleanup and stabilize tests
  docs/content/docs/packages/pulse-aws/reference.mdx
  packages/pulse-aws/README.md
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/constants.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse-aws/tests/test_deployment.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse-aws/tests/test_reaper_lambda.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_lock.py
Due: none

Clarify AWS cookie affinity docs
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/reference.mdx
  examples/aws-ecs/Dockerfile
  packages/pulse-aws/README.md
Due: none

Add comment for no-op route update before prerender
  packages/pulse/python/src/pulse/render_session.py
Due: none

Accept web root path in active_lock_info
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/tests/test_lock.py
Due: none

Simplify default CDK app dir initialization
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/tests/test_baseline_helper.py
Due: none

Switch Pulse AWS affinity routing to query params
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/reference.mdx
  packages/pulse-aws/ARCHITECTURE.md
  packages/pulse-aws/README.md
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/constants.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse-aws/tests/test_deployment.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse-aws/tests/test_reaper_lambda.py
  packages/pulse/js/src/client.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/tests/test_codegen.py
Due: biome-check

Overhaul Pulse error handling
  bun.lock
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  examples/error_types.py
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/errorOverlay.test.tsx
  packages/pulse/js/src/errorOverlay.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.test.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/debounce.py
  packages/pulse/python/src/pulse/errors.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_debounce.py
  packages/pulse/python/tests/test_errors.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_scheduling.py
  skills/pulse/references/errors.md
Due: biome-check, bun-install

Refine pulse-aws deployment affinity and packaging
  .tmp-review/flat/main.py
  .tmp-review/orig/src/app/main.py
  .tmp-review/orig/src/app/shared.py
  bun.lock
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/reference.mdx
  examples/aws-ecs/Dockerfile
  examples/aws-ecs/web/bun.lock
  examples/aws-ecs/web/package.json
  package.json
  packages/pulse-aws/README.md
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse-aws/tests/test_cli.py
  packages/pulse-aws/tests/test_deployment.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse-aws/tests/test_reaper_lambda.py
Due: biome-check, bun-install

Reserve /_pulse endpoints and stabilize AWS metadata path
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-aws/reference.mdx
  docs/content/docs/reference/pulse/app.mdx
  docs/content/docs/reference/pulse/codegen.mdx
  packages/pulse-aws/README.md
  packages/pulse-aws/src/pulse_aws/cli.py
  packages/pulse-aws/src/pulse_aws/constants.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/tests/test_cli.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/tests/test_single_server.py
Due: none

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
