Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Initialize query params before state constructors
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_query_param.py
  skills/pulse/references/routing.md
  specs/queryparam-url-state.md
Due: none

Fix unkeyed query retry tracking
  docs/content/docs/reference/pulse/reactive.mdx
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  skills/pulse/references/reactive.md
Due: none

Apply HTTP directives to Pulse requests
  packages/pulse-railway/tests/test_railway_router.py
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/form.test.ts
  packages/pulse/js/src/form.tsx
  packages/pulse/js/src/http.ts
  packages/pulse/js/src/pulse.tsx
Due: biome-check

Release Pulse 0.1.106
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix stale form and socket recovery
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/tests/test_railway_router.py
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/form.test.ts
  packages/pulse/js/src/http.test.ts
  packages/pulse/js/src/http.ts
  packages/pulse/js/src/index.ts
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_socket_lifecycle.py
Due: sync-versions, biome-check, bun-install

Release Pulse form recovery fixes
  .github/workflows/release.yml
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/images.py
  packages/pulse-railway/tests/test_railway_images.py
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Allow manual Railway image releases
  .github/workflows/release.yml
Due: none

Release Pulse 0.1.108
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix init rewriting for renamed components
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/tests/test_init_hook.py
Due: none

Detach Railway source uploads
  packages/pulse-railway/README.md
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/tests/test_railway_deployment.py
  skills/pulse-railway/SKILL.md
  uv.lock
Due: none

Detach Railway source uploads (#118)
  packages/pulse-railway/README.md
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/tests/test_railway_deployment.py
  skills/pulse-railway/SKILL.md
  uv.lock
Due: none

Bind descriptors to class members for stable cache identity
  docs/content/docs/reference/pulse/hooks.mdx
  docs/content/docs/reference/pulse/queries.mdx
  docs/content/docs/reference/pulse/state.mdx
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/state/property.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_state.py
  skills/pulse/references/queries.md
  skills/pulse/references/reactive.md
  skills/pulse/references/state.md
Due: none

Freeze transpiled JS symbol names at wrapping time
  docs/content/docs/reference/pulse-transpiler/javascript-decorator.mdx
  docs/content/docs/reference/pulse/js-interop.mdx
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/tests/transpiler/test_javascript_decorator.py
  skills/pulse/references/js-interop.md
Due: none

Reject late descriptor assignment on State classes
  docs/content/docs/reference/pulse/queries.mdx
  docs/content/docs/reference/pulse/state.mdx
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_state.py
  skills/pulse/references/queries.md
  skills/pulse/references/state.md
Due: none

Fix FastAPI docs route shadowing and release packages
  bun.lock
  docs/content/docs/reference/pulse/app.mdx
  docs/content/docs/reference/pulse/index.mdx
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/tests/test_plugin.py
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/images.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/tests/test_railway_images.py
  packages/pulse-railway/tests/test_railway_plugin.py
  packages/pulse-railway/tests/test_railway_router.py
  packages/pulse/js/package.json
  packages/pulse/python/README.md
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_fastapi_routes.py
  skills/pulse/references/app.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Scope global_state to the render session, own QueryParamSync there
  NOTES-session-scoped-state.md
  docs/content/docs/reference/pulse/hooks.mdx
  docs/content/docs/reference/pulse/index.mdx
  examples/global_state.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
  skills/pulse/SKILL.md
  skills/pulse/references/context.md
  skills/pulse/references/routing.md
  skills/pulse/references/state.md
  specs/queryparam-url-state.md
  tutorial/README.md
Due: none

Replay missed disconnect in reconnect flow
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
Due: none

Delete Claude notes
  NOTES-session-scoped-state.md
Due: none

Release Pulse 0.1.110
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix reconnect state resync; release Pulse 0.1.110 (#119)
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Re-track the state effect when a query param binding is restored
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_query_param.py
Due: none
