Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Fix Pulse none props and frozen dataclasses
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/reactive_extensions.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_renderer.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Release pulse 0.1.90
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_render_session.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Release pulse 0.1.91
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_app_message_order.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Release pulse 0.1.92
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_message_order.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix pulse railway websocket cleanup
  packages/pulse-railway/README.md
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/images.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/tests/test_railway_images.py
  packages/pulse-railway/tests/test_railway_router.py
  uv.lock
Due: none

Add pulse-mantine Dropzone support
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/dropzone.tsx
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
  packages/pulse-mantine/python/src/pulse_mantine/dropzone/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/dropzone/dropzone.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Type Dropzone radius prop
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/dropzone/dropzone.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Constrain Dropzone peer version
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/dropzone/__init__.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Await server session saves before response
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_user_session.py
Due: none

Release pulse 0.1.93
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/tests/test_cli.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Remove unnecessary pulse-railway tests
  packages/pulse-railway/tests/test_railway_cli.py
Due: none

Configure React proxy timeouts
  bun.lock
  docs/content/docs/reference/pulse/app.mdx
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_app_config.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  skills/pulse/references/app.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.95
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add route origin source identity
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Add renderable payload serialization
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  docs/content/docs/reference/pulse/serializer.mdx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_serializer.py
  skills/pulse/references/helpers.md
Due: biome-check

Split channel hook manager API
  docs/content/docs/reference/pulse-client/hooks.mdx
  packages/pulse/js/README.md
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/pulse.test.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  skills/pulse/references/channels.md
Due: biome-check

Use channel hooks in Mantine bridges
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/notifications.tsx
  packages/pulse-mantine/js/src/tree.tsx
Due: biome-check

route-local message hydration
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/tests/test_channels.py
Due: biome-check

Add explicit channel lifecycle
  packages/pulse-mantine/python/tests/test_combobox_store.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Strip notification callbacks from client payloads
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse-mantine/python/tests/test_notifications.py
Due: none
