Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, basedpyright

biome-check:
  name: Biome Check
  entry: bun run lint:fix
  language: system
  pass_filenames: false

basedpyright:
  name: Basedpyright Type Checker
  entry: uv run basedpyright
  language: system
  pass_filenames: false

Refactor to use JavaScript private fields for better minification
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/scripts/build.ts
  packages/pulse-ui-client/package.json
  packages/pulse-ui-client/scripts/build.ts
  packages/pulse-ui-client/src/client.tsx
  packages/pulse-ui-client/src/renderer.tsx
Due: biome-check

Consolidate build scripts into single top-level script
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/scripts/build.ts
  packages/pulse-ui-client/package.json
  packages/pulse-ui-client/scripts/build.ts
  scripts/build-js-packages.ts
Due: biome-check

Restore per-package build scripts and fix socket.io-client bundling
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/scripts/build.ts
  packages/pulse-ui-client/package.json
  packages/pulse-ui-client/scripts/build.ts
  scripts/build-js-packages.ts
Due: biome-check

mark socket.io-client as external dependency, more bundling optimizations, fix tests
  bun.lock
  package.json
  packages/pulse-ui-client/package.json
  packages/pulse-ui-client/src/channel.test.ts
  packages/pulse-ui-client/src/channel.ts
  packages/pulse-ui-client/src/client.tsx
  packages/pulse-ui-client/src/index.ts
  packages/pulse-ui-client/src/pulse.tsx
  packages/pulse-ui-client/src/renderer.test.tsx
  packages/pulse-ui-client/src/renderer.tsx
Due: biome-check

fix all Pyright errors and warnings in package code 🥳
  packages/pulse-lucide/scripts/generate.py
  packages/pulse-lucide/src/pulse_lucide/__init__.py
  packages/pulse-lucide/src/pulse_lucide/__init__.pyi
  packages/pulse-lucide/src/pulse_lucide/props.py
  packages/pulse-lucide/src/pulse_lucide/py.typed
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/core/buttons/action_icon.py
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/combobox.py
  packages/pulse-mantine/python/src/pulse_mantine/core/layout/space.py
  packages/pulse-mantine/python/src/pulse_mantine/core/types.py
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-msal/src/pulse_msal/plugin.py
  packages/pulse-recharts/src/pulse_recharts/charts.py
  packages/pulse/src/pulse/channel.py
  packages/pulse/src/pulse/codegen/imports.py
  packages/pulse/src/pulse/codegen/js.py
  packages/pulse/src/pulse/hooks/core.py
  packages/pulse/src/pulse/html/tags.pyi
  packages/pulse/src/pulse/react_component.py
  packages/pulse/tests/test_codegen.py
  packages/pulse/tests/test_reactive.py
  packages/pulse/tests/test_validators.py
Due: basedpyright

fix all Pyright errors and warnings in tests
  packages/pulse/src/pulse/renderer.py
  packages/pulse/tests/conftest.py
  packages/pulse/tests/test_channels.py
  packages/pulse/tests/test_hooks.py
  packages/pulse/tests/test_query.py
  packages/pulse/tests/test_react.py
  packages/pulse/tests/test_reactive.py
  packages/pulse/tests/test_render_session.py
  packages/pulse/tests/test_renderer.py
  packages/pulse/tests/test_routing.py
  packages/pulse/tests/test_state.py
  pyrightconfig.json
Due: biome-check, basedpyright

add TypeScript to typecheck command
  Makefile
Due: none

fix codegen test failures
  packages/pulse/tests/test_codegen.py
Due: basedpyright

bump packages
  bun.lock
  packages/pulse-lucide/pyproject.toml
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-msal/pyproject.toml
  packages/pulse-recharts/pyproject.toml
  packages/pulse-ui-client/package.json
  packages/pulse/pyproject.toml
Due: biome-check, basedpyright

add tutorial in repo
  bun.lock
  package.json
  tutorial/README.md
  tutorial/examples/.gitignore
  tutorial/examples/01-basic-app.py
  tutorial/examples/02-counter.py
  tutorial/examples/03-hooks.py
  tutorial/examples/04-todos.py
  tutorial/examples/05-toggle-component.py
  tutorial/examples/06-component-keys.py
  tutorial/examples/07-input-with-validation.py
  tutorial/examples/08-iterable-late-binding.py
  tutorial/examples/09-effects.py
  tutorial/examples/10-batch-updates.py
  tutorial/examples/11-queries.py
  tutorial/examples/12-async-effects.py
  tutorial/examples/web/.gitignore
  tutorial/examples/web/README.md
  tutorial/examples/web/app/app.css
  tutorial/examples/web/app/root.tsx
  tutorial/examples/web/app/routes.ts
  tutorial/examples/web/package.json
  tutorial/examples/web/react-router.config.ts
  tutorial/examples/web/tsconfig.json
  tutorial/examples/web/vite.config.ts
Due: biome-check, basedpyright

Setup pre-commit hooks and CI workflow
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
Due: none

Add CONTRIBUTING.md and update documentation for contributors
  CONTRIBUTING.md
Due: none

Update AGENTS.md and README.md documentation
  AGENTS.md
  README.md
Due: none

update pre-commit to Ruff and Biome best practices
  .pre-commit-config.yaml
Due: none

fix lint errors
  tutorial/examples/01-basic-app.py
  tutorial/examples/02-counter.py
  tutorial/examples/03-hooks.py
  tutorial/examples/04-todos.py
  tutorial/examples/05-toggle-component.py
  tutorial/examples/06-component-keys.py
  tutorial/examples/07-input-with-validation.py
  tutorial/examples/08-iterable-late-binding.py
  tutorial/examples/09-effects.py
  tutorial/examples/10-batch-updates.py
  tutorial/examples/11-queries.py
  tutorial/examples/12-async-effects.py
  tutorial/examples/web/app/root.tsx
  tutorial/examples/web/app/routes.ts
  tutorial/examples/web/react-router.config.ts
  tutorial/examples/web/vite.config.ts
  uv.lock
Due: biome-check, basedpyright

Fix TypeScript monorepo imports using custom export conditions
  packages/pulse-mantine/js/tsconfig.json
  packages/pulse-ui-client/package.json
  packages/pulse-ui-client/tsconfig.json
Due: biome-check

Add redis to allowedUntypedLibraries for optional dependency
  pyrightconfig.json
Due: biome-check

Fix redis import for type checking in pulse-msal
  packages/pulse-msal/src/pulse_msal/plugin.py
  pyproject.toml
  pyrightconfig.json
  uv.lock
Due: biome-check, basedpyright

Remove .only from test to fix CI
  packages/pulse-ui-client/src/serialize/clean.test.ts
Due: biome-check

last tiny fixes
  .github/workflows/ci.yml
  packages/pulse-msal/src/pulse_msal/plugin.py
  pyrightconfig.json
Due: biome-check, basedpyright

Add automated package publishing workflow
  .github/workflows/publish.yml
Due: none

release and CI workflow updates
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: update workflow name
  .github/workflows/release.yml
Due: none

pretend i'm updating package versions
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-ui-client/package.json
  packages/pulse/pyproject.toml
Due: biome-check

update lockfiles
  bun.lock
  uv.lock
Due: none

Add pre-commit hooks for uv and bun lockfile updates
  .pre-commit-config.yaml
Due: none

use latest uv version in uv-pre-commit
  .pre-commit-config.yaml
Due: none

use release-dry-run environment on PRs
  .github/workflows/release.yml
Due: none

try removing --access public + run uv build from package directory
  .github/workflows/release.yml
Due: none

use bun pm pack for dry run
  .github/workflows/release.yml
Due: none

adjust Python paths (dist/ folder is at monorepo root)
  .github/workflows/release.yml
Due: none

Path conditions:
  biome-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
  basedpyright: any of: \.py$
