Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

WebSocket-native navigation with view reuse and VDOM prefetching
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_ws_navigation.py
Due: biome-check

Docs: channels, client reference, glossary, and tutorial updates for the new stack
  docs/NEXT_STEPS.md
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/(core)/mental-model.mdx
  docs/content/docs/(core)/tutorial/01-basics.mdx
  docs/content/docs/(core)/tutorial/index.mdx
  docs/content/docs/packages/pulse-js-client.mdx
  docs/content/docs/reference/pulse-client/classes.mdx
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  docs/content/docs/reference/pulse/app.mdx
  packages/pulse/python/README.md
  skills/pulse/SKILL.md
Due: none

Fix server-side memory growth and add query suspend/resume
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/reference/pulse/app.mdx
  docs/content/docs/reference/pulse/queries.mdx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_query_staleness.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
  packages/pulse/python/tests/test_user_session.py
  skills/pulse/references/app.md
  skills/pulse/references/queries.md
Due: none

Align query refetch semantics with TanStack; fix resume session context
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/reference/pulse/queries.mdx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_staleness.py
  packages/pulse/python/tests/test_socket_lifecycle.py
  skills/pulse/references/queries.md
Due: none

Report real traceback for deferred connect errors
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
Due: none

Test async-callback errors report a real traceback
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix serializer primitive index collisions
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse/serializer.mdx
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/tests/test_serializer.py
  skills/pulse/references/helpers.md
Due: biome-check

Refactor query suspension handling
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Use local query store outside render context
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/tests/test_query.py
Due: none

Release Pulse 0.1.102
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.102
  bun.lock
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/reference/pulse/app.mdx
  docs/content/docs/reference/pulse/queries.mdx
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_staleness.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
  packages/pulse/python/tests/test_user_session.py
  skills/pulse/references/app.md
  skills/pulse/references/queries.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix pulse run cold-start on fresh checkouts
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_cli.py
Due: none

Fix pulse run cold-start on fresh checkouts (#106)
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_cli.py
Due: none

Fix dev server URL for non-local bind addresses
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_cli.py
Due: none

Fix dev server URL for non-local bind addresses (#107)
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_cli.py
Due: none

Release Pulse 0.1.103
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Harden client serializer against functions/symbols
  docs/content/docs/reference/pulse-client/serialization.mdx
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
Due: biome-check

Release Pulse 0.1.104
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Harden client serializer against functions/symbols; release Pulse 0.1.104 (#108)
  bun.lock
  docs/content/docs/reference/pulse-client/serialization.mdx
  packages/pulse/js/package.json
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Reap mount-less shell renders on a short TTL
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
Due: none

Add HTTP offloading for large messages
  docs/content/docs/(core)/advanced/large-messages.mdx
  docs/content/docs/(core)/advanced/meta.json
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse/app.mdx
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/tests/test_payload_ref.py
  skills/pulse/references/app.md
Due: biome-check

fix reconnect state resync
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
Due: none

feat: synchronize rendered views by revision
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_prerender_endpoint.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_query_staleness.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_socket_lifecycle.py
Due: biome-check

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
