Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

let's go
  docs/content/docs/reference/pulse/context.mdx
  packages/pulse-mantine/python/src/pulse_mantine/form/validators.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  packages/pulse/python/tests/test_scheduling.py
  skills/pulse/references/context.md
Due: none

Move query intervals to core queries
  examples/infinite_query.py
  examples/query.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Add ensure() for queries and jump-to-page infinite fetch (#64)
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/reference/pulse/queries.mdx
  examples/infinite_query.py
  examples/query.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/protocol.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Tweak query example timing and keep_previous_data
  examples/query.py
Due: none

Revert "Tweak query example timing and keep_previous_data"
  examples/query.py
Due: none

bump
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix timer cancel tracking
  Makefile
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_scheduling.py
Due: none

Preserve previous query data
  examples/query.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/effect.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Update query docs with keep_previous_data and initial_data semantics
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/(core)/cookbook/data-queries/infinite-scroll.mdx
  docs/content/docs/(core)/tutorial/09-queries.mdx
  docs/content/docs/reference/pulse/queries.mdx
Due: none

add DEBUG print for reload on missing/idle route
  packages/pulse/python/src/pulse/render_session.py
Due: none

Centralize scheduling primitives in registries
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_scheduling.py
Due: none

Type Missing sentinel in queries
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/tests/test_query.py
Due: none

Add test for computed initial value
  packages/pulse/python/tests/test_reactive.py
Due: none

Inline single-use helpers into TaskRegistry methods
  packages/pulse/python/src/pulse/scheduling.py
Due: none

Remove scheduling re-exports from helpers, rename spawn_task
  docs/content/docs/reference/pulse/scheduling.mdx
  packages/pulse-mantine/python/src/pulse_mantine/core/navigation/tree.py
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Add scheduling references to docs
  docs/content/docs/(core)/concepts/effects.mdx
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/(core)/tutorial/08-async.mdx
  docs/content/docs/reference/pulse/index.mdx
  docs/content/docs/reference/pulse/meta.json
Due: biome-check

Add scheduling registries and cancel async work on close (#63)
  Makefile
  docs/content/docs/(core)/concepts/effects.mdx
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/(core)/tutorial/08-async.mdx
  docs/content/docs/reference/pulse/context.mdx
  docs/content/docs/reference/pulse/index.mdx
  docs/content/docs/reference/pulse/meta.json
  docs/content/docs/reference/pulse/scheduling.mdx
  packages/pulse-mantine/python/src/pulse_mantine/core/navigation/tree.py
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-mantine/python/src/pulse_mantine/form/validators.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_scheduling.py
  skills/pulse/references/context.md
Due: biome-check

Limit keep_previous_data to loading
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Type Missing sentinel in query initial_data handling (#65)
  docs/content/docs/(core)/concepts/data-fetching.mdx
  docs/content/docs/(core)/cookbook/data-queries/infinite-scroll.mdx
  docs/content/docs/(core)/tutorial/09-queries.mdx
  docs/content/docs/reference/pulse/queries.mdx
  examples/query.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/effect.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
Due: none

add make sync command
  Makefile
Due: none

bump pulse and pulse-mantine
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Remove renderId from prerender flow
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/codegen/templates/layout.py
Due: biome-check

Add render debug logging
  packages/pulse/js/src/client.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
Due: biome-check

Bump pulse to 0.1.66a1
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check

Use print for render debug logs
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
Due: none

Bump pulse to 0.1.66a2
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check

yolo use regular version for testing
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
