Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

update docs homepage code snippet
  docs/app/(home)/page.tsx
Due: biome-check

Handle soft detach with configurable timeouts
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Make dispose_mount public for pending cleanup
  packages/pulse/python/src/pulse/render_session.py
Due: none

bump pulse
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

update JS publish workflow to use trusted publishing
  .github/workflows/release.yml
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Switch JS release to npm and bump packages
  .github/workflows/release.yml
  bun.lock
  packages/pulse-ag-grid/pyproject.toml
  packages/pulse-aws/pyproject.toml
  packages/pulse-lucide/pyproject.toml
  packages/pulse-lucide/src/pulse_lucide/__init__.py
  packages/pulse-lucide/src/pulse_lucide/__init__.pyi
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-msal/pyproject.toml
  packages/pulse-recharts/pyproject.toml
  scripts/version_audit.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Retry publishes for unpublished package versions
  .github/workflows/release.yml
Due: none

Fix release workflow outputs
  .github/workflows/release.yml
Due: none

add id-token: write permissions to release workflow
  .github/workflows/release.yml
Due: none

Add default react_component option and Import shorthand
  docs/content/docs/reference/pulse-transpiler/imports-assets.mdx
  docs/content/docs/reference/pulse/js-interop.mdx
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/tests/test_react.py
  packages/pulse/python/tests/transpiler/test_imports.py
Due: none

move id-token permissions into publish_js step
  .github/workflows/release.yml
Due: none

Add repository metadata for npm provenance
  packages/pulse-mantine/js/package.json
  packages/pulse/js/package.json
Due: biome-check

update package versions
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

remove debug prints
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
Due: none

update aws-ecs example package version
  examples/aws-ecs/pyproject.toml
  examples/aws-ecs/uv.lock
Due: none

Fix reload exclude and asset copying
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/codegen/codegen.py
Due: none

Update Import API and react_component lazy handling
  examples/aws-ecs/main.py
  examples/main.py
  examples/registry_demo.py
  examples/transpiled_functions.py
  packages/pulse-mantine/python/src/pulse_mantine/charts/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/core/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse-mantine/python/src/pulse_mantine/dates/__init__.py
  packages/pulse/python/src/pulse/codegen/js.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_react.py
  packages/pulse/python/tests/test_renderer.py
  packages/pulse/python/tests/transpiler/test_imports.py
  packages/pulse/python/tests/transpiler/test_js_module.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

update React Router component wrappers
  packages/pulse/python/src/pulse/components/react_router.py
Due: none

bump pulse and pulse-mantine
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Update aws health checks and example
  examples/aws-ecs/main.py
  examples/aws-ecs/web/bun.lock
  examples/aws-ecs/web/package.json
  examples/aws-ecs/web/tsconfig.json
  packages/pulse-aws/ARCHITECTURE.md
  packages/pulse-aws/README.md
  packages/pulse-aws/examples/aws_minimal_server.py
  packages/pulse-aws/scripts/README.md
  packages/pulse-aws/scripts/verify.py
  packages/pulse-aws/src/pulse_aws/config.py
  packages/pulse-aws/src/pulse_aws/deployment.py
Due: biome-check

Fix form action prefix and Mantine example
  bun.lock
  examples/pulse-mantine/01-basic-form.py
  examples/pulse-mantine/web/package.json
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
Due: biome-check, bun-install

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
