Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Add cached query key wrapper
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/tests/test_query.py
Due: none

Improve query keys and infinite query behavior (#70)
  AGENTS.md
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse/index.mdx
  docs/content/docs/reference/pulse/queries.mdx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_client.py
  skills/pulse/references/queries.md
Due: none

import React hooks from pulse.js in channels example
  examples/channels.py
Due: none

pulse 0.1.71
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Show server URL in lock file error message
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
Due: none

Show server URL in lock file error message (#71)
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
Due: none

improve key error messages + new AGENTS.md guideline
  AGENTS.md
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

checkpoint
  .gitmodules
  packages/pulse/python/scripts/stress-proxy.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  pyproject.toml
Due: none

Switch React proxy to ASGI aiohttp
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  specs/asgi-proxy-aiohttp.md
  uv.lock
Due: sync-versions

Prevent GC after query disposal
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix test render session typing
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix proxy streaming cleanup
  packages/pulse/python/scripts/stress-proxy.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_proxy_rewrite.py
Due: none

add comments around timers cleanup in RenderSession.close
  packages/pulse/python/src/pulse/render_session.py
Due: none

update python-multiparr
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions

Prevent query GC after disposal (#73)
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Remove proxy mode env and add cleanup test
  packages/pulse/python/scripts/stress-proxy.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  specs/asgi-proxy-aiohttp.md
Due: none

Refactor debounced callback teardown
  examples/debounced.py
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
Due: biome-check

Fix React proxy routing and timeouts
  ISSUES.md
  packages/pulse/python/scripts/stress-proxy.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  web/app/pulse/_layout.tsx
  web/app/pulse/layouts/layout/_layout.tsx
  web/app/pulse/routes.runtime.ts
  web/app/pulse/routes.ts
  web/app/pulse/routes/about.jsx
  web/app/pulse/routes/async-effect.jsx
  web/app/pulse/routes/components.jsx
  web/app/pulse/routes/counter.jsx
  web/app/pulse/routes/counter/details.jsx
  web/app/pulse/routes/datepicker.jsx
  web/app/pulse/routes/dynamic/_route_id_f9a97bba/_optional_segment^_4de92ecc/__fb7ed505.jsx
  web/app/pulse/routes/index.jsx
  web/app/pulse/routes/query.jsx
Due: biome-check

Fix double-dispose of inline @ps.effect on route unmount
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

Expose internal server address and handle proxy shutdown
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  web/app/pulse/_layout.tsx
Due: biome-check

Fix inline effect scope cleanup
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

Clear inline effect parent on scope removal
  packages/pulse/python/src/pulse/hooks/effects.py
Due: none

Fix proxy shutdown response and internal loader address
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  web/app/pulse/_layout.tsx
Due: biome-check

Fix basedpyright false positives on Linux
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  pyrightconfig.json
Due: biome-check

Fix double-dispose of inline @ps.effect on route unmount (#74)
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

fix lint errors
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

Remove asgiproxy submodule
  .gitmodules
Due: none

Switch React proxy to ASGI aiohttp; fix stream leaks + reload shutdown (#72)
  .gitmodules
  ISSUES.md
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/python/pyproject.toml
  packages/pulse/python/scripts/stress-proxy.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_inline_effects.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  pyproject.toml
  pyrightconfig.json
  specs/asgi-proxy-aiohttp.md
  uv.lock
  web/app/pulse/_layout.tsx
  web/app/pulse/layouts/layout/_layout.tsx
  web/app/pulse/routes.runtime.ts
  web/app/pulse/routes.ts
  web/app/pulse/routes/about.jsx
  web/app/pulse/routes/async-effect.jsx
  web/app/pulse/routes/components.jsx
  web/app/pulse/routes/counter.jsx
  web/app/pulse/routes/counter/details.jsx
  web/app/pulse/routes/datepicker.jsx
  web/app/pulse/routes/dynamic/_route_id_f9a97bba/_optional_segment^_4de92ecc/__fb7ed505.jsx
  web/app/pulse/routes/index.jsx
  web/app/pulse/routes/query.jsx
Due: sync-versions, biome-check

pulse 0.1.72
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

update python-multipart in examples/aws-ecs
  examples/aws-ecs/uv.lock
Due: none

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
