Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

pulse 0.1.72
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Require combobox store channel
  examples/pulse-mantine/07-combobox.py
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/combobox.py
  packages/pulse-mantine/python/tests/test_combobox_store.py
  specs/combobox-channelid-required.md
Due: biome-check

Fix recursive nested function names in transpiler
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
Due: none

Add callsite identity for hooks
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/tests/test_hooks.py
  specs/hook-callsite-identity.md
Due: none

Fix scope analysis for default expressions
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler/test_async.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
  packages/pulse/python/tests/transpiler/test_js.py
  packages/pulse/python/tests/transpiler/test_jsx.py
  packages/pulse/python/tests/transpiler/test_react.py
  specs/transpiler-scope-stack.md
Due: none

Fix scope analysis for assignment targets
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_advanced_expressions.py
Due: none

Allow optional combobox store payloads
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/combobox.py
  packages/pulse-mantine/python/tests/test_combobox_store.py
Due: biome-check

Add Combobox hook support with state management (#79)
  bun.lock
  examples/pulse-mantine/07-combobox.py
  examples/pulse-mantine/web/package.json
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/combobox.py
  packages/pulse-mantine/python/tests/test_combobox_store.py
  specs/combobox-channelid-required.md
Due: biome-check, bun-install

clean up source and AST extraction + transpiler scopes
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/parse.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_jsx.py
Due: none

Fix transpiler handling of recursive nested functions and default scopes (#80)
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/parse.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler/test_async.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
  packages/pulse/python/tests/transpiler/test_js.py
  packages/pulse/python/tests/transpiler/test_jsx.py
  packages/pulse/python/tests/transpiler/test_react.py
  specs/transpiler-scope-stack.md
Due: none

pulse 0.1.74, pulse-mantine 0.1.30
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add channel-backed refs
  examples/refs.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/dom/props.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/vdom.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Add advanced pulse.js builtins bindings
  docs/content/docs/reference/pulse-js/builtins.mdx
  docs/content/docs/reference/pulse-js/index.mdx
  docs/content/docs/reference/pulse-js/namespaces.mdx
  docs/content/docs/reference/pulse/js-interop.mdx
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/js/abort_controller.py
  packages/pulse/python/src/pulse/js/array_buffer.py
  packages/pulse/python/src/pulse/js/blob.py
  packages/pulse/python/src/pulse/js/crypto.py
  packages/pulse/python/src/pulse/js/custom_event.py
  packages/pulse/python/src/pulse/js/dom_parser.py
  packages/pulse/python/src/pulse/js/fetch_api.py
  packages/pulse/python/src/pulse/js/file.py
  packages/pulse/python/src/pulse/js/file_reader.py
  packages/pulse/python/src/pulse/js/form_data.py
  packages/pulse/python/src/pulse/js/intersection_observer.py
  packages/pulse/python/src/pulse/js/intl.py
  packages/pulse/python/src/pulse/js/mutation_observer.py
  packages/pulse/python/src/pulse/js/performance_observer.py
  packages/pulse/python/src/pulse/js/resize_observer.py
  packages/pulse/python/src/pulse/js/text_encoding.py
  packages/pulse/python/src/pulse/js/url.py
  packages/pulse/python/tests/transpiler/test_js.py
  skills/pulse/references/js-interop.md
  skills/pulse/references/transpiler.md
  specs/pulse-js-advanced-builtins-plan.md
Due: none

Expand ref operations and attribute support
  packages/pulse/js/src/client.tsx
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/tests/test_refs.py
Due: biome-check

pulse 0.1.75
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Refactor refs channel and add typed overloads
  examples/refs.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Fix ref channel handling and React 19 ref access
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

review + issues for future work
  ISSUES.md
  code-review.md
Due: none

checkpoint, hot reload working pretty well
  bun.lock
  examples/pulse-mantine/web/package.json
  examples/todo.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/hot_reload/__init__.py
  packages/pulse/python/src/pulse/hot_reload/context.py
  packages/pulse/python/src/pulse/hot_reload/deps.py
  packages/pulse/python/src/pulse/hot_reload/signatures.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_hot_reload.py
  specs/hot-reload-cli.md
  specs/hot-reload-core.md
  specs/hot-reload-fast-refresh.md
Due: biome-check, bun-install

planning
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_cli.py
  plans/fine_grained_component_rerender.md
  plans/react_like_component_rerender.md
Due: none

Support async ref mount callbacks
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/tests/test_renderer.py
Due: none

Scope ref channels per renderer
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/render_session.py
Due: biome-check

Implement server-side refs (#81)
  examples/refs.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/dom/props.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/vdom.py
  packages/pulse/python/tests/test_refs.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Add refs documentation
  docs/content/docs/(core)/advanced/meta.json
  docs/content/docs/(core)/advanced/refs.mdx
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse/meta.json
  docs/content/docs/reference/pulse/refs.mdx
  skills/pulse/SKILL.md
  skills/pulse/references/refs.md
Due: biome-check

pulse 0.1.76
  .pre-commit-config.yaml
  Makefile
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

cleanups + autoAnimate demo
  AGENTS.md
  bun.lock
  examples/transpiled_functions.py
  examples/web/package.json
  packages/pulse/python/src/pulse/components/for_.py
  packages/pulse/python/src/pulse/js/react.py
Due: biome-check, bun-install

Add Web Animations API support (Animation, KeyframeEffect, DocumentTimeline)
  docs/content/docs/reference/pulse-js/builtins.mdx
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/js/_types.py
  packages/pulse/python/src/pulse/js/animation.py
  packages/pulse/python/src/pulse/js/document.py
  packages/pulse/python/tests/transpiler/test_js.py
  skills/pulse/references/js-interop.md
  skills/pulse/references/transpiler.md
Due: none
