Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

add support for serializing SVG events
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/js/src/serialize/elements.ts
  packages/pulse/js/src/serialize/events.ts
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix single server proxy, add streaming
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
  uv.lock
Due: sync-versions, biome-check, bun-install

allow QueryResult.refetch to receive keep_previous_data
  examples/query.py
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_query.py
Due: none

Pulse Mantine notifications + example
  bun.lock
  examples/pulse-mantine/06-notifications.py
  examples/pulse-mantine/web/.gitignore
  examples/pulse-mantine/web/package.json
  implementation-plan.md
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/js/src/notifications.tsx
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notification.py
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse/python/src/pulse/__init__.py
  scripts/build-js-packages.ts
  test_parent_child_lock.py
Due: biome-check, bun-install

fix types + only delete notifications from state sync
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
Due: none

remove stray subscribe
  packages/pulse-mantine/js/src/notifications.tsx
Due: biome-check

pulse-mantine 0.1.18
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Pulse Mantine notifications + example (#40)
  bun.lock
  examples/pulse-mantine/06-notifications.py
  examples/pulse-mantine/web/.gitignore
  examples/pulse-mantine/web/package.json
  implementation-plan.md
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/js/src/notifications.tsx
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notification.py
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse/python/src/pulse/__init__.py
  scripts/build-js-packages.ts
  test_parent_child_lock.py
  uv.lock
Due: sync-versions, biome-check, bun-install

pulse-mantine: expose useFieldProps and createConnectedField
  bun.lock
  package.json
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/connect.tsx
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

tidy up Pules CLI logs + web port management
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/uvicorn_log_config.py
  packages/pulse/python/src/pulse/helpers.py
Due: none

Better connection status handling + proxy Vite dev server WebSocket
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/proxy.py
Due: biome-check

do not return exit code 1 on file change from sync-versions pre-commit hook
  scripts/sync_versions.py
Due: none

make middleware async
  examples/auth.py
  examples/aws-ecs/main.py
  examples/main.py
  examples/middleware_redirects.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/middleware.py
Due: none

use absolute paths where appropriate
  examples/middleware_redirects.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_routing.py
Due: none

add `dev` option to Route definition rather than separate dev_routes
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/plugin.py
  packages/pulse/python/src/pulse/routing.py
Due: none

dev-only middleware + latency middleware
  examples/main.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/middleware.py
Due: none

cleanup
  NOTES.md
  plans/aws-ecs-deployment-exec-plan.md
  plans/aws-ecs-deployment.md
  plans/ecs-draining-reaper.md
  plans/reaper_lambda.py
Due: none

reactivity fixes
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_reactive.py
Due: none

have AsyncEffect avoid batches entirely
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_reactive.py
Due: none

wip
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/__init__.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/src/pulse/types/event_handler.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_state_query.py
Due: none

finalize query system + disposable, make all tests pass
  examples/channels.py
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/states.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_renderer.py
  packages/pulse/python/tests/test_state_query.py
Due: none

add mutations, add tests, make everything pass
  examples/query.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/tests/test_cdk_baseline.py
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_state_query.py
  pyproject.toml
Due: biome-check

bump package versions
  bun.lock
  packages/pulse-aws/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Pulse Query (#41)
  bun.lock
  examples/channels.py
  examples/query.py
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/tests/test_cdk_baseline.py
  packages/pulse/js/package.json
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/states.py
  packages/pulse/python/src/pulse/queries/__init__.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/src/pulse/types/event_handler.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_renderer.py
  packages/pulse/python/tests/test_state_query.py
  pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

add ps.init() magic hook
  bun.lock
  examples/init_hook.py
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_init_hook.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
