Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

bump Pulse version
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  scripts/bump_version.py
  uv.lock
Due: sync-versions, biome-check, bun-install

wip
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/javascript_v2/builtins.py
  packages/pulse/python/src/pulse/javascript_v2/constants.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/imports.py
  packages/pulse/python/src/pulse/javascript_v2/js_module.py
  packages/pulse/python/src/pulse/javascript_v2/modules/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/modules/math.py
  packages/pulse/python/src/pulse/javascript_v2/modules/tags.py
  packages/pulse/python/src/pulse/javascript_v2/nodes.py
  packages/pulse/python/src/pulse/javascript_v2/py_module.py
  packages/pulse/python/src/pulse/javascript_v2/transpiler.py
  packages/pulse/python/src/pulse/javascript_v2/types.py
  packages/pulse/python/src/pulse/js/_core.py
  packages/pulse/python/src/pulse/js/math.py
  packages/pulse/python/src/pulse/js/number.py
  packages/pulse/python/tests/javascript_v2/test_function.py
  packages/pulse/python/tests/javascript_v2/test_js_modules.py
  packages/pulse/python/tests/javascript_v2/test_jsexpr.py
  packages/pulse/python/tests/javascript_v2/test_jsx_tags.py
  packages/pulse/python/tests/test_codegen.py
Due: none

simplify PyModule and JsModule
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/js_module.py
  packages/pulse/python/src/pulse/javascript_v2/modules/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/py_module.py
  packages/pulse/python/src/pulse/js/math.py
  packages/pulse/python/src/pulse/js/number.py
  packages/pulse/python/tests/javascript_v2/test_js_modules.py
Due: none

improve builtins handling
  packages/pulse/python/src/pulse/javascript_v2/builtins.py
  packages/pulse/python/src/pulse/javascript_v2/nodes.py
  packages/pulse/python/src/pulse/javascript_v2/py_module.py
  packages/pulse/python/src/pulse/javascript_v2/transpiler.py
  packages/pulse/python/tests/javascript_v2/test_transpiler.py
Due: none

make ReactComponent a JSExpr
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/tests/javascript_v2/test_transpiler.py
Due: none

add support for core JS modules
  packages/pulse/python/src/pulse/js/array.py
  packages/pulse/python/src/pulse/js/console.py
  packages/pulse/python/src/pulse/js/date.py
  packages/pulse/python/src/pulse/js/error.py
  packages/pulse/python/src/pulse/js/json.py
  packages/pulse/python/src/pulse/js/map.py
  packages/pulse/python/src/pulse/js/object.py
  packages/pulse/python/src/pulse/js/promise.py
  packages/pulse/python/src/pulse/js/regexp.py
  packages/pulse/python/src/pulse/js/set.py
  packages/pulse/python/src/pulse/js/string.py
  packages/pulse/python/src/pulse/js/weakmap.py
  packages/pulse/python/src/pulse/js/weakset.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/tests/transpiler/test_js_modules.py
Due: none

add json, re, and typing Python modules
  packages/pulse/python/src/pulse/transpiler/modules/__init__.py
  packages/pulse/python/src/pulse/transpiler/modules/json.py
  packages/pulse/python/src/pulse/transpiler/modules/re.py
  packages/pulse/python/src/pulse/transpiler/modules/typing.py
  packages/pulse/python/tests/transpiler/test_transpiler.py
Due: none

cleanup, fix type errors
  packages/pulse-mantine/python/src/pulse_mantine/core/provider.py
  packages/pulse-mantine/python/src/pulse_mantine/core/styles.py
  packages/pulse-mantine/python/src/pulse_mantine/core/theme.py
  packages/pulse-recharts/src/pulse_recharts/cartesian.py
  packages/pulse-recharts/src/pulse_recharts/common.py
  packages/pulse-recharts/src/pulse_recharts/general.py
  packages/pulse/python/src/pulse/_examples/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/js/date.py
  packages/pulse/python/src/pulse/js/error.py
  packages/pulse/python/src/pulse/js/map.py
  packages/pulse/python/src/pulse/js/regexp.py
  packages/pulse/python/src/pulse/js/set.py
  packages/pulse/python/src/pulse/js/weakmap.py
  packages/pulse/python/src/pulse/js/weakset.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/tests/transpiler/test_js_modules.py
Due: none

reorg pulse.js module
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/js/array.py
  packages/pulse/python/src/pulse/js/console.py
  packages/pulse/python/src/pulse/js/date.py
  packages/pulse/python/src/pulse/js/error.py
  packages/pulse/python/src/pulse/js/json.py
  packages/pulse/python/src/pulse/js/map.py
  packages/pulse/python/src/pulse/js/math.py
  packages/pulse/python/src/pulse/js/number.py
  packages/pulse/python/src/pulse/js/object.py
  packages/pulse/python/src/pulse/js/promise.py
  packages/pulse/python/src/pulse/js/regexp.py
  packages/pulse/python/src/pulse/js/set.py
  packages/pulse/python/src/pulse/js/string.py
  packages/pulse/python/src/pulse/js/weakmap.py
  packages/pulse/python/src/pulse/js/weakset.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/transpiler/test_js_modules.py
Due: none

fix type errors
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/transpiler/test_jsexpr.py
Due: none

fix handling of jsexprs in the renderer
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

add throw helper
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/transpiler/builtins.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_transpiler.py
Due: none

bump versions for modified packages
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-recharts/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

hide React server address in CLI logs
  packages/pulse/python/src/pulse/cli/processes.py
Due: none

Fix single-server mode redirect URL leakage
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_proxy_rewrite.py
Due: none

bump pulse to 0.1.48
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

allow prefix for pulse-msal, auto-detect CSS modules in Pulse
  bun.lock
  packages/pulse-msal/pyproject.toml
  packages/pulse-msal/src/pulse_msal/plugin.py
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/tests/test_proxy_rewrite.py
  uv.lock
Due: sync-versions, biome-check, bun-install

fix test warning
  packages/pulse/python/tests/test_proxy_rewrite.py
Due: none

Enhance navigation handling in PulseSocketIOClient and update message interfaces
  packages/pulse-msal/src/pulse_msal/plugin.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_nodes.py
Due: biome-check

pulse 0.1.50
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

better tag names in errors, convert NaNs to None in serialization
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_nodes.py
  packages/pulse/python/tests/test_react.py
  packages/pulse/python/tests/test_serializer.py
Due: none

pulse 0.1.51
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

timeout pending API calls and JS exec results
  packages/pulse/js/src/client.tsx
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

typechecking perf script
  .gitignore
  scripts/typecheck_stats.py
Due: none
