Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Configurable prerender queue timeout
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_config.py
Due: none

Increase prerender timeout default
  packages/pulse/js/package.json
  packages/pulse/js/src/client.tsx
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  uv.lock
Due: sync-versions, biome-check

pulse 0.1.68
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

fix navigate_to message and render tree handling on client in strict mode
  AGENTS.md
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

queue global navigate_to and document ordering
  KNOWN_ISSUES.md
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix navigate_to message routing and render tree handling in strict mode (#66)
  AGENTS.md
  KNOWN_ISSUES.md
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

pulse 0.1.69
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Cancel query gc timers on dispose
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Cancel query GC timers on dispose (#67)
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Fix reconciliation clearing
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
Due: biome-check

Fix reconciliation clearing when list empties (#68)
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
Due: biome-check

update pulse-mantine skill
  skills/pulse-mantine/SKILL.md
  skills/pulse-mantine/references/charts.md
  skills/pulse-mantine/references/core.md
  skills/pulse-mantine/references/dates.md
  skills/pulse-mantine/references/forms.md
  skills/pulse-mantine/references/notifications.md
Due: none

todo.py example state fix
  examples/todo.py
Due: none

checkpoint
  bun.lock
  docs/content/docs/reference/pulse/cli.mdx
  examples/aws-ecs/web/server/ssr.ts
  examples/aws-ecs/web/src/entry-server.tsx
  examples/pulse-mantine/web/app/app.css
  examples/pulse-mantine/web/package.json
  examples/pulse-mantine/web/server/ssr.ts
  examples/pulse-mantine/web/src/entry-server.tsx
  examples/web/package.json
  examples/web/server/ssr.ts
  examples/web/src/entry-server.tsx
  packages/pulse-recharts/src/pulse_recharts/__init__.py
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_cookies.py
  tutorial/examples/web/server/ssr.ts
  tutorial/examples/web/src/entry-server.tsx
Due: biome-check, bun-install

improve TS router tests
  Makefile
  packages/pulse/js/src/router.test.ts
Due: biome-check

pulse 0.1.70
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add debounced callbacks
  examples/debounced.py
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/debounce.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/vdom.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Document debounced handlers
  docs/content/docs/(core)/cookbook/advanced-patterns/debounced-handlers.mdx
  docs/content/docs/(core)/cookbook/advanced-patterns/meta.json
  docs/content/docs/(core)/glossary.mdx
Due: biome-check

Untrack on_success/on_error callbacks in query effects
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/tests/test_query.py
Due: none

Flush pending debounced callbacks on teardown
  docs/content/docs/(core)/concepts/events.mdx
  docs/content/docs/(core)/cookbook/advanced-patterns/debounced-handlers.mdx
  docs/content/docs/(core)/cookbook/advanced-patterns/meta.json
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
Due: biome-check

Improve query key handling and add fetch_page clear option
  AGENTS.md
  docs/content/docs/reference/pulse/queries.mdx
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_client.py
  skills/pulse/references/queries.md
Due: none

Fix debounced callback moves
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
Due: biome-check

Simplify debounced pending state
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
Due: biome-check

Enforce infinite query keys
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/reference/pulse/index.mdx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_client.py
  skills/pulse/references/queries.md
Due: none

Normalize callable query keys
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
Due: none

Drop pending debounced callbacks on unmount
  examples/debounced.py
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/debounce.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_debounce.py
Due: biome-check

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
