Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Release Pulse 0.1.110
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Scope global_state to the render session, own QueryParamSync there (#120)
  docs/content/docs/reference/pulse/hooks.mdx
  docs/content/docs/reference/pulse/index.mdx
  examples/global_state.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
  skills/pulse/SKILL.md
  skills/pulse/references/context.md
  skills/pulse/references/routing.md
  skills/pulse/references/state.md
  specs/queryparam-url-state.md
  tutorial/README.md
Due: none

Release Pulse 0.1.111
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.111 (#121)
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Split RouteInfo at the session boundary
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_query_param.py
Due: none

Implement server-owned channel subscriptions
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
Due: none

Resubscribe live client channel bridges
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/ref.test.ts
  packages/pulse/js/src/ref.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/js/pulse.py
  packages/pulse/python/tests/transpiler/test_js_module.py
Due: biome-check

Harden Mantine channel consumers
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/form/integration.test.tsx
  packages/pulse-mantine/js/src/notifications.test.tsx
  packages/pulse-mantine/js/src/notifications.tsx
  packages/pulse-mantine/js/src/tree.tsx
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse-mantine/python/tests/test_combobox_store.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse-mantine/python/tests/test_notifications.py
Due: biome-check

Document channel subscription lifetimes
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse/channels.mdx
  docs/content/docs/reference/pulse/index.mdx
  packages/pulse/js/README.md
  skills/pulse/references/channels.md
  skills/pulse/references/errors.md
Due: none

Harden dev supervisor: unified process stack, Vite configured event, orphan watchdogs
  README.md
  docs/content/docs/(core)/concepts/deployment.mdx
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/_windows_launcher.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/relay.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_relay.py
  packages/pulse/python/tests/test_reload.py
  paseo.json
  skills/pulse/SKILL.md
Due: biome-check

Rebuild resource disposal on a single ownership tree
  docs/content/docs/(core)/advanced/custom-hooks.mdx
  docs/content/docs/(core)/concepts/effects.mdx
  docs/content/docs/(core)/concepts/state.mdx
  docs/content/docs/reference/pulse/forms.mdx
  docs/content/docs/reference/pulse/hooks.mdx
  docs/content/docs/reference/pulse/reactive.mdx
  docs/content/docs/reference/pulse/state.mdx
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/lifecycle.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/refs.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/resources.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_init_hook.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_renderer.py
  packages/pulse/python/tests/test_resources.py
  packages/pulse/python/tests/test_state.py
  skills/pulse/SKILL.md
  skills/pulse/references/helpers.md
  skills/pulse/references/hooks.md
  skills/pulse/references/state.md
Due: none

Fix supervisor reload races: overlap stacks, Vite bounce, port scan
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/relay.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_relay.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
Due: biome-check

Retarget relays only after the new stack is fully ready
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/relay.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Park relays if the live stack dies during overlap reload
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Fix overlap park test by killing the live backend on replacement start
  packages/pulse/python/tests/test_reload.py
Due: none

Abandon a dead previous stack when overlap reload fails
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix FakeProcess cast in overlap park tests
  packages/pulse/python/tests/test_reload.py
Due: none

Stop gating channel events on mount transport state
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse/channels.mdx
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
  skills/pulse/references/channels.md
Due: none

Format StrictMode channel event test
  packages/pulse/python/tests/test_render_session.py
Due: none

Rewrite channel lifecycle docs in simplified technical English
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse/channels.mdx
  packages/pulse/python/src/pulse/channel.py
  skills/pulse/references/channels.md
Due: none

Gate channels on owner disposal, not mount.active (#132)
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse/channels.mdx
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
  skills/pulse/references/channels.md
Due: none

docs: add Cursor Cloud dev environment instructions to AGENTS.md
  AGENTS.md
Due: none

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
