Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Strip notification callbacks from client payloads
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse-mantine/python/tests/test_notifications.py
Due: none

Add reconnect resume handshake
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

docs: update channel API docs
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/(core)/advanced/index.mdx
  docs/content/docs/(core)/cookbook/advanced-patterns/chat-channels.mdx
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/(core)/tutorial/13-channels.mdx
  docs/content/docs/packages/pulse-js-client.mdx
  docs/content/docs/reference/pulse-client/classes.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse/channels.mdx
  packages/pulse/js/README.md
  packages/pulse/python/README.md
  skills/pulse/references/channels.md
Due: none

Support renderable notification fields
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse-mantine/python/tests/test_notifications.py
Due: none

Fix callback args and Mantine form channel state
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_renderer.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Add MantineForm submit state
  bun.lock
  docs/content/docs/packages/pulse-mantine/forms.mdx
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-mantine/python/tests/test_form.py
  skills/pulse-mantine/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Connect Mantine Autocomplete to forms
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/fields.tsx
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/autocomplete.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Add MantineForm sync callback
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.97
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_lock.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Fix mutation callback arity inference
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/tests/test_mutation.py
Due: none

Stabilize PulseContext forks for async work
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/src/pulse/state/property.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Allow float Date constructor values
  packages/pulse/python/src/pulse/js/date.py
  packages/pulse/python/tests/transpiler/test_js.py
Due: none

Release Pulse 0.1.98
  bun.lock
  docs/content/docs/reference/pulse-js/builtins.mdx
  docs/content/docs/reference/pulse-js/index.mdx
  packages/pulse-aws/pyproject.toml
  packages/pulse-railway/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/js/uri.py
  packages/pulse/python/src/pulse/js/url.py
  packages/pulse/python/tests/transpiler/test_js.py
  skills/pulse/references/js-interop.md
  skills/pulse/references/transpiler.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Suggest interrupt for pulse run lock conflicts
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/tests/test_cli.py
  skills/pulse/SKILL.md
Due: none

Simplify route context snapshots and timer handling
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/scheduling.py
Due: none

Fix Pulse form submit failures and file sync
  bun.lock
  docs/content/docs/reference/pulse-client/serialization.mdx
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/src/form/form.tsx
  packages/pulse-mantine/js/src/form/payload.test.ts
  packages/pulse-mantine/js/src/form/payload.ts
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse/js/package.json
  packages/pulse/js/src/form.test.ts
  packages/pulse/js/src/form.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/forms.py
  skills/pulse/references/forms.md
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.100
  bun.lock
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/package.json
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/tests/test_inline_effects.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.100
  bun.lock
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/package.json
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Release Pulse 0.1.101
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_fastapi_routes.py
  uv.lock
Due: sync-versions, biome-check, bun-install

View identity: rename mount to view, key protocol by unique view ids
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse-mantine/python/tests/test_notifications.py
  packages/pulse/js/package.json
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/helpers.ts
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.test.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/router/index.ts
  packages/pulse/js/src/router/link.tsx
  packages/pulse/js/src/router/match.test.ts
  packages/pulse/js/src/router/match.ts
  packages/pulse/js/src/router/modules.ts
  packages/pulse/js/src/router/router.test.tsx
  packages/pulse/js/src/router/router.tsx
  packages/pulse/js/test/happydom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
  specs/custom-framework-redesign.md
Due: biome-check
