Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

feat: F-0061 - Implement navigation error UI component and retry mechanism
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/router/__tests__/navigation-error.integration.test.tsx
  packages/pulse/js/src/router/context.tsx
  packages/pulse/js/src/router/index.ts
  packages/pulse/js/src/router/navigation-error.test.tsx
  packages/pulse/js/src/router/navigation-error.tsx
Due: biome-check

chore: Update progress for F-0061 completion
  plans/minimal-react-framework/prd.json
  plans/minimal-react-framework/progress.txt
Due: biome-check

feat: F-0062 - Implement offline navigation with cached data
  packages/pulse/js/src/__tests__/offline-navigation.integration.test.tsx
  packages/pulse/js/src/__tests__/offline-navigation.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/offline-cache.ts
  packages/pulse/js/src/offline-navigation.ts
  plans/minimal-react-framework/prd.json
  plans/minimal-react-framework/progress.txt
Due: biome-check

feat: F-0063 - Implement dev-mode HTML nesting validator
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_html_nesting_validator.py
Due: none

chore: Update progress for F-0063 completion
  plans/minimal-react-framework/prd.json
  plans/minimal-react-framework/progress.txt
Due: biome-check

feat: F-0064 - Update pulse.tsx to use custom router
  packages/pulse/js/src/pulse.tsx
Due: biome-check

feat: F-0065 - Update client.tsx for new navigation
  packages/pulse/js/src/client.tsx
Due: biome-check

chore: Update progress for F-0064 and F-0065 completion
  plans/minimal-react-framework/prd.json
Due: biome-check

chore: Update progress with F-0064, F-0065 completion and F-0066 next steps
  plans/minimal-react-framework/progress.txt
Due: none

feat: F-0066 - Remove React Router dependency
  packages/pulse/js/package.json
  packages/pulse/js/src/entry-client.ts
  packages/pulse/js/src/helpers.ts
  packages/pulse/js/src/index.ts
  tests/fixtures/dev-server-test/web/app/pulse/routes.runtime.ts
Due: biome-check

feat: F-0067 - Update examples/web to use new system
  examples/main.py
  examples/web/.gitignore
  examples/web/app/root.tsx
  examples/web/app/routes.ts
  examples/web/index.html
  examples/web/package.json
  examples/web/react-router.config.ts
  examples/web/src/client.ts
  examples/web/src/server/server.ts
  examples/web/tsconfig.json
  examples/web/vite.config.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/helpers.ts
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/router/__tests__/navigation-error.integration.test.tsx
  packages/pulse/js/src/router/index.ts
  packages/pulse/js/src/router/navigation-error.tsx
  plans/minimal-react-framework/prd.json
  plans/minimal-react-framework/progress.txt
Due: biome-check

feat: F-0068 - Final verification: all goals met
  plans/minimal-react-framework/prd.json
  plans/minimal-react-framework/progress.txt
Due: biome-check

finish impl
  .claude/settings.json
  bun.lock
  examples/web/.gitignore
  examples/web/package.json
  examples/web/src/client.ts
  packages/pulse/js/src/entry-client.ts
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/server/render.test.tsx
  packages/pulse/js/src/server/render.tsx
  packages/pulse/python/.gitignore
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/cli/packages.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/routes_ts.py
  packages/pulse/python/src/pulse/components/react_router.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_context_inheritance.py
  packages/pulse/python/tests/test_pulse_context.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check, bun-install

remove chatgpt-pro skill from repo
  .claude/skills/chatgpt-pro/SKILL.md
  .claude/skills/chatgpt-pro/chatgpt-automation.js
Due: biome-check

Fix merge regression in transpile_call kwargs handling
  packages/pulse/python/src/pulse/transpiler/transpiler.py
Due: none

Implement LazyComponentFactory for React.lazy binding
  packages/pulse/python/src/pulse/code_analysis.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/tests/transpiler/test_imports.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Convert transpiler tests to use full string comparison
  packages/pulse/python/tests/transpiler/test_dependency_analysis.py
  packages/pulse/python/tests/transpiler/test_emit.py
  packages/pulse/python/tests/transpiler/test_expressions.py
  packages/pulse/python/tests/transpiler/test_imports.py
  packages/pulse/python/tests/transpiler/test_javascript_decorator.py
  packages/pulse/python/tests/transpiler/test_js.py
  packages/pulse/python/tests/transpiler/test_jsx.py
  packages/pulse/python/tests/transpiler/test_py_module.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Address code review feedback
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/transpiler/assets.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/tests/transpiler/test_imports.py
Due: none

pulse: bump to 0.1.55
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add lazy imports and dynamic import support for code-splitting (#59)
  .claude/skills/chatgpt-pro/SKILL.md
  .claude/skills/chatgpt-pro/chatgpt-automation.js
  AGENTS.md
  bun.lock
  examples/lazy_import.py
  examples/web/package.json
  packages/pulse/js/.cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  packages/pulse/js/CLAUDE.md
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/code_analysis.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/js/react_dom.py
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/src/pulse/transpiler/assets.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/src/pulse/transpiler/emit_context.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/react_component.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/transpiler/test_dependency_analysis.py
  packages/pulse/python/tests/transpiler/test_emit.py
  packages/pulse/python/tests/transpiler/test_expressions.py
  packages/pulse/python/tests/transpiler/test_imports.py
  packages/pulse/python/tests/transpiler/test_javascript_decorator.py
  packages/pulse/python/tests/transpiler/test_js.py
  packages/pulse/python/tests/transpiler/test_jsx.py
  packages/pulse/python/tests/transpiler/test_py_module.py
  packages/pulse/python/tests/transpiler/test_react.py
  uv.lock
Due: sync-versions, biome-check, bun-install

Add inline @ps.effect caching for component effects
  examples/aws-ecs/main.py
  examples/main.py
  packages/pulse/python/README.md
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/test_helpers.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_inline_effects.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_run_js.py
  tutorial/README.md
Due: none

Dispose inline effects when conditionals become false
  examples/inline_effects.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

Honor --plain for child process output"
  packages/pulse/python/src/pulse/cli/cmd.py
Due: none

Refine inline effects and prerender flow
  examples/inline_effects.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Align prerender middleware with batch flow
  examples/auth.py
  examples/aws-ecs/main.py
  examples/main.py
  examples/middleware_redirects.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/middleware.py
Due: none
