Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Replace uvicorn --reload with an inherited-socket supervisor
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  examples/aws-ecs/web/vite.config.ts
  examples/pulse-mantine/web/vite.config.ts
  examples/railway/web/vite.config.ts
  examples/web/vite.config.ts
  packages/pulse/js/package.json
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/js/tsdown.config.ts
  packages/pulse/python/src/pulse/cli/_windows_launcher.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/guard.py
  packages/pulse/python/src/pulse/cli/ports.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_guard.py
  packages/pulse/python/tests/test_ports.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
  tutorial/examples/web/vite.config.ts
Due: biome-check

Fix review findings: guard killpg after reap, preserve Vite exit code 0, robust listener-count test
  packages/pulse/js/src/vite.test.ts
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
Due: biome-check

Fix dev supervisor web port and reload handling
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix readiness readers and IPv6 dev URLs
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Ignore the entire web/ tree in the Python watcher
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
Due: none

Fix process-group lifecycle races, stale exit events, and hmr:false override
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_processes.py
Due: biome-check

Simplify the supervisor around inherited ready pipes
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/guard.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_guard.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Fix import order and Vite config formatting
  bun.lock
  examples/aws-ecs/web/vite.config.ts
  examples/railway/web/vite.config.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

Fix Windows pass_fds test typing for basedpyright
  packages/pulse/python/tests/test_processes.py
Due: none

Keep the Vite ready pipe open for in-process restarts
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/reload.py
Due: biome-check

Bound Vite startup and advertise host consistently
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Clean up supervisor process semantics
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
Due: none

Handle Windows console interrupts gracefully
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Match test typing import conventions
  packages/pulse/python/tests/test_cli.py
Due: none

Clean up CLI output and startup handling
  packages/pulse/python/src/pulse/cli/_windows_launcher.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/guard.py
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
Due: none

Harden PID validation and finish CLI extraction
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/tests/test_lock.py
Due: none

Keep reload argument validation ahead of web port reservation
  packages/pulse/python/src/pulse/cli/cmd.py
Due: none

Allow the full unsigned PID range on Windows
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/tests/test_lock.py
Due: none

Bound lock-file PIDs by the platform's PID width
  packages/pulse/python/src/pulse/cli/lock.py
  packages/pulse/python/tests/test_lock.py
Due: none

Restore typed reply errors and clean send failures
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/replies.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

Normalize inbound command lock paths
  docs/content/docs/reference/pulse/middleware.mdx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/tests/test_app_message_order.py
  skills/pulse/references/middleware.md
Due: none

Clarify sticky middleware denials
  docs/content/docs/reference/pulse/middleware.mdx
  skills/pulse/references/middleware.md
Due: none

Clarify middleware Deny semantics in source
  packages/pulse/python/src/pulse/middleware.py
  packages/pulse/python/tests/test_middleware.py
Due: none

Restore JsExecError documentation
  docs/content/docs/(core)/advanced/js-interop.mdx
  docs/content/docs/(core)/cookbook/js-from-python/run-js-imperative.mdx
  docs/content/docs/reference/pulse/js-interop.mdx
  examples/js_exec_demo.py
  skills/pulse/references/errors.md
  skills/pulse/references/js-interop.md
Due: none

Put the JsExecError import in the error-handling snippet
  skills/pulse/references/js-interop.md
Due: none
