Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Add pulse.js.pulse module for channel type definitions
  packages/pulse/python/src/pulse/js/pulse.py
Due: none

Rewrite channels example with transpiled component
  examples/channels.py
  examples/web/app/components/channel-tester.tsx
Due: biome-check

Fix gc_time in observer lifecycle test to match sleep duration
  packages/pulse/python/tests/test_query.py
Due: none

Fix private function usage and incorrect getattr test
  packages/pulse/python/src/pulse/components/for_.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/tests/transpiler/test_dependency_analysis.py
Due: none

Reduce async test sleep durations for 3x speedup (#52)
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
Due: none

Fix React import from pulse.js to generate proper JS imports
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/tests/transpiler/test_js_module.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Move createPortal to react_dom module
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/js/react_dom.py
Due: none

Add React type definitions to pulse.js module (#51)
  examples/transpiled_functions.py
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/js/react_dom.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/tests/transpiler/test_js_module.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Fix vdom_init sent on first callback after prerender
  packages/pulse/python/src/pulse/render_session.py
Due: none

Transpiled channel components and dependency analysis fixes (#53)
  examples/channels.py
  examples/web/app/components/channel-tester.tsx
  packages/pulse/python/src/pulse/components/for_.py
  packages/pulse/python/src/pulse/js/pulse.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/tests/transpiler/test_dependency_analysis.py
Due: biome-check

Add chatgpt-pro Claude Code skill
  .claude/skills/chatgpt-pro/SKILL.md
  .claude/skills/chatgpt-pro/chatgpt-automation.js
  bun.lock
  package.json
Due: biome-check, bun-install

Refactor RenderSession with clearer state model
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

Add chatgpt-pro Claude Code skill (#54)
  .claude/skills/chatgpt-pro/SKILL.md
  .claude/skills/chatgpt-pro/chatgpt-automation.js
  bun.lock
  package.json
Due: biome-check, bun-install

Fix Vite HMR WebSocket proxy in single-server dev mode
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
Due: none

Fix Vite HMR WebSocket proxy in single-server dev mode (#56)
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
Due: none

Use VDOM expression evaluation for run_js instead of code strings
  examples/js_exec_demo.py
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_run_js.py
  packages/pulse/python/tests/transpiler/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler/test_builtins.py
  packages/pulse/python/tests/transpiler/test_expressions.py
Due: biome-check

Fix zombie mount on redirect/not-found during prerender
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Remove coerce_json from renderer, consolidate in serializer
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
Due: none

Use VDOM expression evaluation for run_js instead of code strings (#57)
  examples/js_exec_demo.py
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_run_js.py
  packages/pulse/python/tests/transpiler/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler/test_builtins.py
  packages/pulse/python/tests/transpiler/test_expressions.py
Due: biome-check

Implement JSX prop spread syntax (**kwargs)
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/obj.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/builtins.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/py_module.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Simplify RenderSession prerender, clarify boolean flags
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
Due: none

Fix JSX spread with Map and use `new` for Set/Map literals
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler/test_builtins.py
  packages/pulse/python/tests/transpiler/test_expressions.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

fix lint warning
  .claude/skills/chatgpt-pro/chatgpt-automation.js
Due: biome-check

fix test_render_session
  packages/pulse/python/tests/test_render_session.py
Due: none

Refactor RenderSession with clearer state model (#55)
  .claude/skills/chatgpt-pro/chatgpt-automation.js
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Add lazy imports and dynamic import support for code-splitting
  .claude/skills/chatgpt-pro/chatgpt-automation.js
  AGENTS.md
  bun.lock
  examples/lazy_import.py
  examples/web/package.json
  packages/pulse/js/.cursor/rules/use-bun-instead-of-node-vite-npm-pnpm.mdc
  packages/pulse/js/CLAUDE.md
  packages/pulse/python/src/pulse/code_analysis.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/src/pulse/js/react_dom.py
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/src/pulse/transpiler/assets.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/react_component.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/transpiler/test_imports.py
Due: biome-check, bun-install

Cache JSX spread operand to avoid repeated evaluation
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Fix obj() spread to convert Map to plain object
  packages/pulse/python/src/pulse/js/obj.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Extract spread_dict helper to deduplicate Map conversion
  packages/pulse/python/src/pulse/js/obj.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
Due: none

Fix dynamic import asset path resolution with EmitContext
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/src/pulse/transpiler/assets.py
  packages/pulse/python/src/pulse/transpiler/dynamic_import.py
  packages/pulse/python/src/pulse/transpiler/emit_context.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/transpiler/test_imports.py
Due: none

Improve error messages and consistency in spread handling
  packages/pulse/python/src/pulse/js/obj.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
Due: none

Implement JSX prop spread syntax (**kwargs) (#58)
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/obj.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/builtins.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/js_module.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/py_module.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
