Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Honor production host and Vite ready output
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/tests/test_cli.py
Due: none

Bound marker-based Vite listening startup
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
Due: none

Clarify backend startup outcomes
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Clean up backend startup outcome naming
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix Windows test timing and path handling
  packages/pulse/python/src/pulse/debounce.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/scheduling.py
  packages/pulse/python/src/pulse/test_helpers.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_mutation.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/transpiler/test_imports.py
Due: none

Fix infinite query staleness timing
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/tests/test_infinite_query.py
Due: none

Keep the Vite ready pipe open for in-process restarts
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/reload.py
Due: biome-check

Guard os.waitid absence (macOS py3.12), skip group signals after reap, bound close() and ready-pipe waits
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_processes.py
Due: none

Drop unit tests for the Vite plugin
  packages/pulse/js/src/vite.test.ts
Due: biome-check

Expect Vite ready-pipe drain and plugin restart safety
  packages/pulse/js/src/vite.test.ts
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Wait for pulseVitePlugin to report Vite listening
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
Due: biome-check

Final killpg on close() wait timeout; warn on leaked readiness-pipe reader
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
Due: none

Expect supervisor bootstrap codegen and verbose uvicorn logging
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix review findings: guard killpg after reap, preserve Vite exit code 0, robust listener-count test
  packages/pulse/js/src/vite.test.ts
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
Due: biome-check

Rename pulseVitePlugin to pulse
  docs/content/docs/(core)/setup.mdx
  docs/content/docs/reference/pulse/cli.mdx
  examples/aws-ecs/web/vite.config.ts
  examples/pulse-mantine/web/vite.config.ts
  examples/railway/web/vite.config.ts
  examples/web/vite.config.ts
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
  tutorial/examples/web/vite.config.ts
Due: biome-check

Simplify the supervisor around inherited ready pipes
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/src/pulse/cli/guard.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_guard.py
  packages/pulse/python/tests/test_processes.py
  packages/pulse/python/tests/test_reload.py
Due: biome-check

Resolve Vite drain completion on missing pipe
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_reload.py
Due: none

Ignore the entire web/ tree in the Python watcher
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  skills/pulse/SKILL.md
Due: none

Bound Vite startup and advertise host consistently
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix readiness readers and IPv6 dev URLs
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix process-group lifecycle races, stale exit events, and hmr:false override
  packages/pulse/js/src/vite.test.ts
  packages/pulse/js/src/vite.ts
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_processes.py
Due: biome-check

Generate routes before Vite and restore verbose uvicorn logs
  docs/content/docs/reference/pulse/cli.mdx
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dev_worker.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix import order and Vite config formatting
  bun.lock
  examples/aws-ecs/web/vite.config.ts
  examples/railway/web/vite.config.ts
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

Fix dev supervisor web port and reload handling
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/reload.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_reload.py
Due: none

Fix Windows pass_fds test typing for basedpyright
  packages/pulse/python/tests/test_processes.py
Due: none
