Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Bump package versions
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check

fix bun.lock
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

add make bump command with --patch/--alpha/--beta/--rc support
  Makefile
  scripts/__init__.py
  scripts/bump_version.py
  scripts/tests/__init__.py
  scripts/tests/conftest.py
  scripts/tests/test_bump_version.py
Due: none

add package README documentation
  AGENTS.md
  packages/pulse-ag-grid/README.md
  packages/pulse-aws/README.md
  packages/pulse-lucide/README.md
  packages/pulse-mantine/README.md
  packages/pulse-mantine/TUTORIAL.md
  packages/pulse-mantine/js/README.md
  packages/pulse-mantine/python/README.md
  packages/pulse-msal/README.md
  packages/pulse-recharts/README.md
  packages/pulse/js/README.md
  packages/pulse/python/README.md
Due: none

Refactor ps.states to ps.state keyed hook
  README.md
  examples/auth.py
  examples/aws-ecs/main.py
  examples/channels.py
  examples/forms.py
  examples/infinite_query.py
  examples/keyed_reconciliation.py
  examples/main.py
  examples/pulse-mantine/01-basic-form.py
  examples/pulse-mantine/02-validation.py
  examples/pulse-mantine/03-server-validation.py
  examples/pulse-mantine/04-dynamic-form.py
  examples/pulse-mantine/06-notifications.py
  examples/pulse-mantine/appshell.py
  examples/pulse-mantine/form.py
  examples/query.py
  examples/render_props.py
  examples/todo.py
  examples/transpiled_functions.py
  packages/pulse-mantine/README.md
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/hooks/states.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
  tutorial/README.md
  tutorial/examples/02-counter.py
  tutorial/examples/03-hooks.py
  tutorial/examples/05-toggle-component.py
  tutorial/examples/06-component-keys.py
  tutorial/examples/07-input-with-validation.py
  tutorial/examples/08-iterable-late-binding.py
  tutorial/examples/09-effects.py
  tutorial/examples/10-batch-updates.py
  tutorial/examples/11-queries.py
  tutorial/examples/12-async-effects.py
Due: none

add count_loc.sh script
  scripts/count_loc.sh
Due: none

set up beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: biome-check

migration plan
  plans/ty-migration.md
Due: none

remove beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitattributes
  AGENTS.md
Due: biome-check

add worktrunk hook
  .config/wt.toml
Due: none

Fix single-server session handoff
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/user_session.py
Due: none

Coerce NaN to null in JS serializer
  packages/pulse/js/src/serialize/elements.ts
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
Due: biome-check

Resolve cookie secure via server address
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_cookies.py
Due: none

remove directives loading from Pulse client
  packages/pulse/js/src/client.tsx
Due: biome-check

switch PULSE_MODE -> PULSE_ENV
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/tests/test_nodes.py
  packages/pulse/python/tests/transpiler/test_nodes.py
Due: none

fix pyright warnings + cookie tests
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/tests/test_cookies.py
Due: none

Coerce NaN to null in JS serializer (#48)
  packages/pulse/js/src/serialize/elements.ts
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
Due: biome-check

Fix ps.init validation and error locations
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/transpiler/errors.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/tests/test_init_hook.py
Due: none

Resolve cookie secure via server address (#49)
  packages/pulse/js/src/client.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_cookies.py
  packages/pulse/python/tests/test_nodes.py
  packages/pulse/python/tests/transpiler/test_nodes.py
Due: biome-check

Fix ps.init validation and error locations (#50)
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/transpiler/errors.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/tests/test_init_hook.py
Due: none

Add comprehensive tests for transpiler dependency analysis
  packages/pulse/python/tests/transpiler/test_dependency_analysis.py
Due: none

Add React type definitions to pulse.js module
  examples/transpiled_functions.py
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/react.py
  packages/pulse/python/tests/transpiler/test_react.py
Due: none

Reduce async test sleep durations for 3x speedup
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
Due: none

Fix bytecode analysis to distinguish globals from attributes
  packages/pulse/python/src/pulse/transpiler/function.py
Due: none

Add For transformer for transpiled components
  packages/pulse/python/src/pulse/components/for_.py
  packages/pulse/python/src/pulse/transpiler/modules/pulse/tags.py
Due: none
