Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, bun-install

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Test release workflow (#26)
  .github/workflows/release.yml
  bun.lock
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse-ui-client/package.json
  packages/pulse/pyproject.toml
  uv.lock
Due: biome-check, bun-install

first pass
  PULSE_GUIDE.md
Due: none

remove tests in example projects, clean up Vite configs
  bun.lock
  examples/pulse-mantine/web/README.md
  examples/pulse-mantine/web/package.json
  examples/web/README.md
  examples/web/package.json
  examples/web/test-setup.ts
  examples/web/vite.config.ts
  examples/web/vitest.config.ts
  tutorial/examples/web/README.md
  tutorial/examples/web/package.json
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

remove tests in example projects, clean up Vite configs (#28)
  bun.lock
  examples/pulse-mantine/web/README.md
  examples/pulse-mantine/web/package.json
  examples/web/README.md
  examples/web/package.json
  examples/web/test-setup.ts
  examples/web/vite.config.ts
  examples/web/vitest.config.ts
  tutorial/examples/web/README.md
  tutorial/examples/web/package.json
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

Add pre-commit hook to sync Python to JS package versions
  .pre-commit-config.yaml
  scripts/sync_versions.py
Due: none

Refactor: Move FormRegistry from global App singleton to per-RenderSession instances
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/render_session.py
Due: none

bump pulse-framework to 0.1.32
  bun.lock
  examples/web/package.json
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  pyrightconfig.json
Due: biome-check, bun-install

update uv.lock
  uv.lock
Due: none

Simplify form routing by using render_id in URL path
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/form.py
  packages/pulse/python/src/pulse/render_session.py
Due: none

Fix pyright ignore comment placement for handle_form_submit
  packages/pulse/python/src/pulse/app.py
Due: none

PUL-6: Move ChannelsManager from global App to per-RenderSession
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_channels.py
Due: none

Fix type checking errors
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_channels.py
Due: none

Migrate JS packages to tsdown build tool
  bun.lock
  package.json
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/scripts/build.ts
  packages/pulse-mantine/js/scripts/post-build.ts
  packages/pulse-mantine/js/tsconfig.build.json
  packages/pulse-mantine/js/tsconfig.json
  packages/pulse-mantine/js/tsdown.config.ts
  packages/pulse/js/package.json
  packages/pulse/js/scripts/build.ts
  packages/pulse/js/scripts/post-build.ts
  packages/pulse/js/tsconfig.build.json
  packages/pulse/js/tsconfig.json
  packages/pulse/js/tsdown.config.ts
Due: biome-check, bun-install

Remove post-build scripts and use tsdown's default output naming
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/scripts/post-build.ts
  packages/pulse-mantine/js/tsdown.config.ts
  packages/pulse/js/package.json
  packages/pulse/js/scripts/post-build.ts
  packages/pulse/js/tsdown.config.ts
Due: biome-check

simplify tsdown config
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/tsdown.config.ts
  packages/pulse/js/package.json
  packages/pulse/js/tsdown.config.ts
Due: biome-check

bump package versions + remove excludes from tsconfig.json
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/js/tsconfig.json
  packages/pulse-mantine/python/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/js/tsconfig.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: biome-check

add tsdown to each JS package.json
  bun.lock
  package.json
  packages/pulse-mantine/js/package.json
  packages/pulse/js/package.json
Due: biome-check, bun-install

final fixes, but channels still need work
  bun.lock
  examples/channels.py
  examples/web/app/app.css
  examples/web/app/components/channel-tester.tsx
  examples/web/package.json
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/usePulseChannel.ts
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/cli/helpers.py
  packages/pulse/python/src/pulse/render_session.py
Due: biome-check, bun-install

isbot added back by default to React Router projects
  bun.lock
  examples/pulse-mantine/web/package.json
  tutorial/examples/web/package.json
Due: biome-check, bun-install

bump core Pulse packages
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
Due: biome-check

update uv.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  scripts/sync_versions.py
Due: biome-check

update uv.lock again?
  uv.lock
Due: none

use "bun run tsdown" for prepublishOnly
  packages/pulse-mantine/js/package.json
  packages/pulse/js/package.json
Due: biome-check

one more version bump
  .pre-commit-config.yaml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: biome-check

Also bump pulse-mantine to republish
  packages/pulse-mantine/js/package.json
  packages/pulse-mantine/python/pyproject.toml
  uv.lock
Due: biome-check

PUL-12: Simplify pulse run display with unified log output
  bun.lock
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/terminal.py
  uv.lock
Due: bun-install

Add type annotations to fix type checking errors
  packages/pulse/python/src/pulse/cli/cmd.py
Due: none

query update: keep_previous_data defaults to False, data is immediately cleared on dependency change
  examples/main.py
  examples/query.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/tests/test_query.py
  tutorial/examples/11-queries.py
Due: none

update pulse version
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: biome-check

query update: keep_previous_data defaults to False, data is immediately cleared on dependency change (#36)
  examples/main.py
  examples/query.py
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/tests/test_query.py
  tutorial/examples/11-queries.py
  uv.lock
Due: biome-check

Path conditions:
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
