Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

View identity: rename mount to view, key protocol by unique view ids
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse-mantine/python/tests/test_notifications.py
  packages/pulse/js/package.json
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/helpers.ts
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.test.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/router/index.ts
  packages/pulse/js/src/router/link.tsx
  packages/pulse/js/src/router/match.test.ts
  packages/pulse/js/src/router/match.ts
  packages/pulse/js/src/router/modules.ts
  packages/pulse/js/src/router/router.test.tsx
  packages/pulse/js/src/router/router.tsx
  packages/pulse/js/test/happydom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/channel.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/forms.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_channels.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
  specs/custom-framework-redesign.md
Due: biome-check

Fix prod SSR asset resolution (manifest path + entry lookup)
  examples/pulse-mantine/web/src/entry-server.tsx
  examples/web/.gitignore
  examples/web/src/entry-server.tsx
Due: biome-check

WebSocket-native navigation with view reuse and VDOM prefetching
  packages/pulse/js/src/channel.test.ts
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.test.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/router/router.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_app_message_order.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_ws_navigation.py
Due: biome-check

Fix examples for nullable channel hook and workspace React dedupe
  .gitignore
  bun.lock
  examples/channels.py
  examples/pulse-mantine/web/package.json
  examples/pulse-mantine/web/vite.config.ts
  examples/web/vite.config.ts
Due: biome-check, bun-install

Remove React Router leftovers from deployment examples and codegen
  bun.lock
  docs/content/docs/(core)/concepts/deployment.mdx
  docs/content/docs/(core)/concepts/routing.mdx
  docs/content/docs/(core)/setup.mdx
  examples/Dockerfile
  examples/aws-ecs/main.py
  examples/aws-ecs/web/.gitignore
  examples/aws-ecs/web/README.md
  examples/aws-ecs/web/app/root.tsx
  examples/aws-ecs/web/app/routes.ts
  examples/aws-ecs/web/index.html
  examples/aws-ecs/web/package.json
  examples/aws-ecs/web/react-router.config.ts
  examples/aws-ecs/web/server/ssr.ts
  examples/aws-ecs/web/src/entry-client.tsx
  examples/aws-ecs/web/src/entry-server.tsx
  examples/aws-ecs/web/tsconfig.json
  examples/aws-ecs/web/vite.config.ts
  examples/railway/Dockerfile
  examples/railway/web/.gitignore
  examples/railway/web/app/root.tsx
  examples/railway/web/app/routes.ts
  examples/railway/web/index.html
  examples/railway/web/package.json
  examples/railway/web/react-router.config.ts
  examples/railway/web/server/ssr.ts
  examples/railway/web/src/entry-client.tsx
  examples/railway/web/src/entry-server.tsx
  examples/railway/web/tsconfig.json
  examples/railway/web/vite.config.ts
  packages/pulse-railway/tests/test_railway_example.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_react.py
Due: biome-check, bun-install

Convert tutorial web project to the Pulse framework setup
  bun.lock
  docs/content/docs/(core)/concepts/deployment.mdx
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse/app.mdx
  docs/content/docs/reference/pulse/cli.mdx
  docs/content/docs/reference/pulse/codegen.mdx
  docs/content/docs/reference/pulse/routing.mdx
  specs/custom-framework-redesign.md
  tutorial/examples/web/.gitignore
  tutorial/examples/web/app/root.tsx
  tutorial/examples/web/app/routes.ts
  tutorial/examples/web/index.html
  tutorial/examples/web/package.json
  tutorial/examples/web/react-router.config.ts
  tutorial/examples/web/server/ssr.ts
  tutorial/examples/web/src/entry-client.tsx
  tutorial/examples/web/src/entry-server.tsx
  tutorial/examples/web/tsconfig.json
  tutorial/examples/web/vite.config.ts
Due: biome-check, bun-install

Fix review findings in navigation, resume, and effect flush
  docs/NEXT_STEPS.md
  docs/content/docs/(core)/advanced/channels.mdx
  docs/content/docs/(core)/glossary.mdx
  docs/content/docs/(core)/mental-model.mdx
  docs/content/docs/(core)/tutorial/01-basics.mdx
  docs/content/docs/(core)/tutorial/index.mdx
  docs/content/docs/packages/pulse-aws/index.mdx
  docs/content/docs/packages/pulse-js-client.mdx
  docs/content/docs/reference/pulse-client/classes.mdx
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  docs/content/docs/reference/pulse/routing.mdx
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/router/router.tsx
  packages/pulse/python/README.md
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/tests/test_fine_grained_rendering.py
  packages/pulse/python/tests/test_ws_navigation.py
  skills/pulse/SKILL.md
  skills/pulse/references/app.md
  skills/pulse/references/routing.md
Due: biome-check

Fix SSR lazy components, effect ownership, and dev-server lifecycle bugs
  bun.lock
  docs/content/docs/(core)/concepts/state.mdx
  examples/aws-ecs/web/server/ssr.ts
  examples/aws-ecs/web/src/entry-client.tsx
  examples/aws-ecs/web/src/entry-server.tsx
  examples/pulse-mantine/web/package.json
  examples/pulse-mantine/web/server/ssr.ts
  examples/pulse-mantine/web/src/entry-server.tsx
  examples/railway/web/server/ssr.ts
  examples/railway/web/src/entry-client.tsx
  examples/railway/web/src/entry-server.tsx
  examples/web/server/ssr.ts
  examples/web/src/entry-server.tsx
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_init_hook.py
  packages/pulse/python/tests/test_renderer.py
  tutorial/examples/web/server/ssr.ts
  tutorial/examples/web/src/entry-client.tsx
  tutorial/examples/web/src/entry-server.tsx
Due: biome-check, bun-install

Dispose snapshot-rendered clones after serialization
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/tests/test_serializer.py
Due: none

Document recharts npm gap and hydration-window input caveat
  KNOWN_ISSUES.md
Due: none

Add unowned-reactives render check and drop phantom pulse-recharts npm dep
  KNOWN_ISSUES.md
  bun.lock
  docs/content/docs/reference/pulse/app.mdx
  examples/web/package.json
  packages/pulse-recharts/src/pulse_recharts/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_unowned_reactives.py
Due: biome-check, bun-install

Replay pre-hydration input edits and drop StateHookState's broad except
  KNOWN_ISSUES.md
  examples/aws-ecs/web/src/entry-server.tsx
  examples/pulse-mantine/web/src/entry-server.tsx
  examples/railway/web/src/entry-server.tsx
  examples/web/src/entry-server.tsx
  packages/pulse/js/src/hydration.test.ts
  packages/pulse/js/src/hydration.ts
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/hooks/state.py
  tutorial/examples/web/src/entry-server.tsx
Due: biome-check

Surface double disposes of ps.state-owned instances
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/tests/test_hooks.py
Due: none

Surface foreign disposals of init/setup-owned reactives and query effects
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_init_hook.py
Due: none

Note planned uncontrolled-inputs default and SSR preload waterfall
  KNOWN_ISSUES.md
Due: none

Green-up: router provider test cast, ruff format, lockfile sync
  bun.lock
  packages/pulse/js/src/client.test.ts
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state/query_param.py
Due: biome-check, bun-install

Keep generated apps on react-router hooks; codegen route-info adapter
  packages/pulse/js/src/client.test.ts
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.test.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/tests/test_codegen.py
Due: biome-check

Keep react-router peer dep until the router swap
  bun.lock
  packages/pulse/js/package.json
Due: biome-check, bun-install

Fine-grained rendering: per-component effects with subtree-scoped ops
  docs/content/docs/(core)/concepts/state.mdx
  packages/pulse-mantine/python/src/pulse_mantine/form/form.py
  packages/pulse-mantine/python/tests/test_form.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/test_fine_grained_rendering.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_init_hook.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_renderer.py
  packages/pulse/python/tests/test_serializer.py
  packages/pulse/python/tests/test_unowned_reactives.py
Due: none
