Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

docs: add docs-updater agent for maintaining documentation
  .claude/agents/docs-updater/AGENT.md
Due: none

Add configurable render loop guard
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
Due: none

Update auto-keyed state usage
  examples/aws-ecs/main.py
  examples/inline_states.py
  packages/pulse/python/README.md
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_render_session.py
  tutorial/README.md
Due: none

Disambiguate auto-keyed state hooks for helper reuse
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/tests/test_hooks.py
Due: none

docs: remove legacy guide layout
  docs/app/docs/layout.tsx
  docs/content/docs/guide/async.mdx
  docs/content/docs/guide/channels.mdx
  docs/content/docs/guide/codegen.mdx
  docs/content/docs/guide/components.mdx
  docs/content/docs/guide/deployment.mdx
  docs/content/docs/guide/events.mdx
  docs/content/docs/guide/forms.mdx
  docs/content/docs/guide/hooks.mdx
  docs/content/docs/guide/index.mdx
  docs/content/docs/guide/js-interop.mdx
  docs/content/docs/guide/lists-keys.mdx
  docs/content/docs/guide/mental-model.mdx
  docs/content/docs/guide/meta.json
  docs/content/docs/guide/middleware.mdx
  docs/content/docs/guide/queries.mdx
  docs/content/docs/guide/reactivity.mdx
  docs/content/docs/guide/routing.mdx
  docs/content/docs/guide/sessions.mdx
  docs/content/docs/guide/state.mdx
  docs/content/docs/guide/vdom-elements.mdx
Due: biome-check

Initial guidelines
  docs/GUIDELINES.md
Due: none

checkpoint
  AGENTS.md
  docs/GUIDELINES.md
  docs/content/docs/packages/pulse-ag-grid.mdx
  docs/content/docs/packages/pulse-ag-grid/meta.json
  docs/content/docs/packages/pulse-aws.mdx
  docs/content/docs/packages/pulse-aws/meta.json
  docs/content/docs/packages/pulse-js-client.mdx
  docs/content/docs/packages/pulse-js-client/meta.json
  docs/content/docs/packages/pulse-lucide.mdx
  docs/content/docs/packages/pulse-lucide/meta.json
  docs/content/docs/packages/pulse-msal.mdx
  docs/content/docs/packages/pulse-msal/meta.json
  docs/content/docs/packages/pulse-recharts.mdx
  docs/content/docs/packages/pulse-recharts/meta.json
Due: biome-check

Add update_deps handling for effects
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_reactive.py
Due: none

Require prerender before attach
  .gitignore
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: biome-check

Update agent instructions
  AGENTS.md
Due: none

Key state hooks by call stack position
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/tests/test_hooks.py
Due: none

Use full call stack for inline effects
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

Refactor RouteMount lifecycle
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
Due: none

Fix prerender path normalization
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/tests/test_prerender_endpoint.py
Due: none

Callsite-keyed hooks and RenderSession lifecycle refactor (#61)
  .gitignore
  AGENTS.md
  examples/auth.py
  examples/aws-ecs/main.py
  examples/inline_effects.py
  examples/inline_states.py
  examples/main.py
  examples/middleware_redirects.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/messages.ts
  packages/pulse/python/README.md
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/middleware.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/src/pulse/test_helpers.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_inline_effects.py
  packages/pulse/python/tests/test_prerender_endpoint.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_run_js.py
  tutorial/README.md
Due: biome-check

checkpoint
  docs/app/(home)/page.tsx
  docs/app/(home)/pulse-field.client.tsx
  docs/content/docs/reference/meta.json
  docs/content/docs/reference/pulse-client/classes.mdx
  docs/content/docs/reference/pulse-client/components.mdx
  docs/content/docs/reference/pulse-client/hooks.mdx
  docs/content/docs/reference/pulse-client/index.mdx
  docs/content/docs/reference/pulse-client/meta.json
  docs/content/docs/reference/pulse-client/serialization.mdx
  docs/content/docs/reference/pulse-client/types.mdx
  docs/content/docs/reference/pulse-js/builtins.mdx
  docs/content/docs/reference/pulse-js/dom.mdx
  docs/content/docs/reference/pulse-js/index.mdx
  docs/content/docs/reference/pulse-js/meta.json
  docs/content/docs/reference/pulse-js/namespaces.mdx
  docs/content/docs/reference/pulse-js/pulse-client.mdx
  docs/content/docs/reference/pulse-js/react.mdx
  skills/README.md
  skills/pulse/SKILL.md
  skills/pulse/references/channels.md
  skills/pulse/references/dom.md
  skills/pulse/references/js-interop.md
  skills/pulse/references/middleware.md
  skills/pulse/references/queries.md
  skills/pulse/references/reactive.md
Due: biome-check

Update docs for inline effects and callsite-keyed state hooks
  docs/content/docs/(core)/concepts/effects.mdx
  docs/content/docs/(core)/tutorial/06-hooks.mdx
  docs/content/docs/(core)/tutorial/07-reactivity.mdx
  docs/content/docs/reference/pulse/hooks.mdx
  skills/pulse/SKILL.md
Due: none

Refine animated background lights
  docs/app/(home)/page.tsx
Due: biome-check

Sync pulse origins with moving lights
  docs/app/(home)/forge-lights.client.tsx
  docs/app/(home)/page.tsx
Due: biome-check

Add light mode styling for homepage
  docs/app/(home)/page.tsx
Due: biome-check

Restyle homepage code block as mini editor
  docs/app/(home)/page.tsx
Due: biome-check

Remove fumadocs submodule and update skills
  .gitmodules
  CONTRIBUTING.md
  skills/pulse-framework/SKILL.md
  skills/pulse/SKILL.md
Due: none

Add ReactComponent helper and decorator overloads
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/tests/test_react.py
Due: none

Use pulse.react_component and drop transpiler export
  packages/pulse/python/src/pulse/components/react_router.py
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/tests/transpiler/test_jsx.py
Due: none

Remove transpiler react_component and legacy PyModule path
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/transpiler/py_module.py
  packages/pulse/python/src/pulse/transpiler/react_component.py
Due: none

docs v1
  AGENTS.md
  Makefile
  biome.json
  docs/.gitignore
  docs/app/(home)/hero-lights.client.tsx
  docs/app/(home)/page.tsx
  docs/app/(home)/pulse-field.client.tsx
  docs/app/docs/[[...slug]]/layout.tsx
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/global.css
  docs/app/layout.tsx
  docs/app/llms-full.txt/route.ts
  docs/app/llms.mdx/docs/[[...slug]]/route.ts
  docs/app/llms.txt/route.ts
  docs/app/og/docs/[...slug]/route.tsx
  docs/app/og/home/route.tsx
  docs/app/playground/layout.tsx
  docs/app/playground/logo/logo-playground.client.tsx
  docs/app/playground/logo/logo-utils.ts
  docs/app/playground/logo/page.tsx
  docs/bun.lock
  docs/components/layout/docs/page/client.tsx
  docs/components/related-pages.tsx
  docs/components/toc/clerk.tsx
  docs/components/toc/index.tsx
  docs/lib/cn.ts
  docs/lib/dom.ts
  docs/lib/layout.shared.tsx
  docs/lib/math.ts
  docs/lib/merge-refs.ts
  docs/lib/og.ts
  docs/lib/source.ts
  docs/lib/urls.ts
  docs/next.config.mjs
  docs/package.json
  docs/proxy.ts
  docs/public/favicon.svg
  docs/public/logo-gradient.txt
  docs/tsconfig.json
Due: biome-check

remove fumadocs-python
  docs/app/global.css
  docs/mdx-components.tsx
Due: biome-check

clean up fumapy, try to get CI to pass without setting up Turborepo
  .config/wt.toml
  .github/workflows/ci.yml
  bun.lock
  package.json
  packages/fumapy/pyproject.toml
  packages/fumapy/src/fumapy/__init__.py
  packages/fumapy/src/fumapy/mksource/__init__.py
  packages/fumapy/src/fumapy/mksource/document_module.py
  packages/fumapy/src/fumapy/mksource/json_encoder.py
  packages/fumapy/src/fumapy/mksource/models.py
  packages/fumapy/src/fumapy/mksource/simplify_docstring.py
  packages/fumapy/src/fumapy/mksource/utils.py
  pyproject.toml
  uv.lock
Due: biome-check, bun-install

hack together TS setup
  Makefile
  bun.lock
  docs/bun.lock
  docs/package.json
  package.json
Due: biome-check, bun-install

update docs homepage code snippet
  docs/app/(home)/page.tsx
Due: biome-check
