Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

Add pulse-aws skill
  skills/pulse-aws/SKILL.md
Due: none

Make Bun types explicit in TS configs
  packages/pulse-mantine/js/tsconfig.json
  packages/pulse/js/tsconfig.json
Due: biome-check

Fix CI Bun type resolution
  bun.lock
  package.json
Due: biome-check, bun-install

pulse 0.1.78
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add pulse-railway deployment plugin
  examples/aws-ecs/README.md
  examples/aws-ecs/main.py
  packages/pulse-railway/README.md
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/__init__.py
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/config.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/py.typed
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/src/pulse_railway/tracker.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_plugin.py
  packages/pulse-railway/tests/test_railway_router.py
  pyproject.toml
  scripts/railway_router_poc/README.md
  scripts/railway_router_poc/__init__.py
  scripts/railway_router_poc/demo_backend.py
  scripts/railway_router_poc/deploy.py
  scripts/railway_router_poc/railway.py
  scripts/railway_router_poc/router.py
  scripts/tests/test_railway_router_poc.py
  uv.lock
Due: none

Add internal token auth for Railway session draining
  packages/pulse-railway/src/pulse_railway/config.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_plugin.py
  packages/pulse-railway/tests/test_railway_router.py
Due: none

Simplify railway deployment internals
  packages/pulse-railway/src/pulse_railway/__init__.py
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/config.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/tracker.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_plugin.py
  packages/pulse-railway/tests/test_railway_resolver_tracker.py
  scripts/railway_router_poc/README.md
  scripts/railway_router_poc/__init__.py
  scripts/railway_router_poc/demo_backend.py
  scripts/railway_router_poc/deploy.py
  scripts/railway_router_poc/railway.py
  scripts/railway_router_poc/router.py
  scripts/tests/test_railway_router_poc.py
Due: none

Use Railway cron for pulse-railway janitor
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/config.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_railway.py
Due: none

Fix pulse-railway deploy and janitor logging
  examples/aws-ecs/main.py
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_railway.py
  packages/pulse-railway/tests/test_railway_router.py
Due: none

Guard janitor CLI outside Railway
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/tests/test_railway_cli.py
Due: none

Rename pulse-railway tracker to store
  packages/pulse-railway/src/pulse_railway/config.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/src/pulse_railway/store.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_resolver_store.py
  packages/pulse-railway/tests/test_railway_router.py
Due: none

Unify app KV store and Railway shared Redis
  docs/content/docs/(core)/concepts/sessions.mdx
  docs/content/docs/reference/pulse/context.mdx
  packages/pulse-railway/src/pulse_railway/__init__.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/src/pulse_railway/store.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_resolver_store.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/kv.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/test_app_config.py
  packages/pulse/python/tests/test_kv.py
  packages/pulse/python/tests/test_store.py
  skills/pulse/references/sessions.md
Due: none

Rename pulse-railway env vars
  examples/aws-ecs/main.py
  examples/railway/.dockerignore
  examples/railway/Dockerfile
  examples/railway/README.md
  examples/railway/main.py
  examples/railway/pyproject.toml
  examples/railway/web/.gitignore
  examples/railway/web/app/app.css
  examples/railway/web/app/root.tsx
  examples/railway/web/app/routes.ts
  examples/railway/web/package.json
  examples/railway/web/react-router.config.ts
  examples/railway/web/tsconfig.json
  examples/railway/web/vite.config.ts
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/__init__.py
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/src/pulse_railway/store.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_example.py
  packages/pulse-railway/tests/test_railway_plugin.py
  packages/pulse-railway/tests/test_railway_router.py
Due: biome-check

Add Railway plugin deploy target resolution
  .dockerignore
  examples/railway/main.py
  packages/pulse-railway/src/pulse_railway/__init__.py
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/target.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_target.py
Due: none

pulse-railway: derive deploy defaults from RailwayPlugin
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/target.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_target.py
Due: none

pulse-railway: reload clients and drain stale deployments
  examples/railway/README.md
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/config.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/src/pulse_railway/store.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_plugin.py
  packages/pulse-railway/tests/test_railway_router.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/tests/test_codegen.py
Due: none

Refactor pulse-railway stack lifecycle
  .agents/learnings/2026-04-15-pulse-railway-token-target-resolution.md
  examples/railway/README.md
  examples/railway/main.py
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/commands/__init__.py
  packages/pulse-railway/src/pulse_railway/commands/common.py
  packages/pulse-railway/src/pulse_railway/commands/deploy.py
  packages/pulse-railway/src/pulse_railway/commands/init.py
  packages/pulse-railway/src/pulse_railway/commands/upgrade.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/errors.py
  packages/pulse-railway/src/pulse_railway/images.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/stack.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_example.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_railway.py
  packages/pulse-railway/tests/test_railway_session.py
  packages/pulse-railway/tests/test_railway_stack.py
Due: none

Refine pulse-railway deploy defaults and typing
  examples/railway/main.py
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/commands/common.py
  packages/pulse-railway/src/pulse_railway/commands/deploy.py
  packages/pulse-railway/src/pulse_railway/commands/init.py
  packages/pulse-railway/src/pulse_railway/commands/upgrade.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/images.py
  packages/pulse-railway/src/pulse_railway/janitor.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/router.py
  packages/pulse-railway/src/pulse_railway/session.py
  packages/pulse-railway/src/pulse_railway/stack.py
  packages/pulse-railway/src/pulse_railway/store.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_example.py
  packages/pulse-railway/tests/test_railway_resolver_store.py
  packages/pulse-railway/tests/test_railway_session.py
  packages/pulse-railway/tests/test_railway_stack.py
  scripts/bump_version.py
  scripts/count_loc.sh
  scripts/typecheck_stats.py
  scripts/version_audit.py
Due: none

pulse-railway: simplify session wiring and deploy config
  examples/railway/README.md
  examples/railway/main.py
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/__init__.py
  packages/pulse-railway/src/pulse_railway/commands/deploy.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/session.py
  packages/pulse-railway/src/pulse_railway/target.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_example.py
  packages/pulse-railway/tests/test_railway_session.py
  packages/pulse-railway/tests/test_railway_target.py
Due: none

Add Railway source deploy mode
  STONEWARE_RAILWAY_MIGRATION.md
  examples/railway/README.md
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/auth.py
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/__init__.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/cmd.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/common.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/image.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/source.py
  packages/pulse-railway/src/pulse_railway/commands/init.py
  packages/pulse-railway/src/pulse_railway/commands/upgrade.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/stack.py
  packages/pulse-railway/tests/test_railway_auth.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_railway.py
  packages/pulse-railway/tests/test_railway_stack.py
Due: none

Make pulse-railway source deploys default
  STONEWARE_RAILWAY_MIGRATION.md
  bun.lock
  examples/Dockerfile
  examples/railway/README.md
  examples/railway/main.py
  packages/pulse-railway/README.md
  packages/pulse-railway/src/pulse_railway/commands/deploy/common.py
  packages/pulse-railway/src/pulse_railway/deployment.py
  packages/pulse-railway/src/pulse_railway/images.py
  packages/pulse-railway/tests/redis_fakes.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_deployment.py
  packages/pulse-railway/tests/test_railway_example.py
  packages/pulse-railway/tests/test_railway_session.py
  packages/pulse-railway/tests/test_railway_stack.py
Due: bun-install

Bump pulse framework for Railway release
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

Add pulse railway skill
  skills/README.md
  skills/pulse-railway/SKILL.md
Due: none

Release pulse-railway 0.1.1
  examples/railway/main.py
  packages/pulse-railway/README.md
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/commands/common.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/cmd.py
  packages/pulse-railway/src/pulse_railway/commands/deploy/common.py
  packages/pulse-railway/src/pulse_railway/commands/init.py
  packages/pulse-railway/src/pulse_railway/constants.py
  packages/pulse-railway/src/pulse_railway/plugin.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/src/pulse_railway/target.py
  packages/pulse-railway/tests/test_railway_cli.py
  packages/pulse-railway/tests/test_railway_railway.py
  packages/pulse-railway/tests/test_railway_target.py
  skills/pulse-railway/SKILL.md
  uv.lock
Due: none

Release pulse-railway 0.1.2
  packages/pulse-railway/README.md
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/auth.py
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/tests/test_railway_auth.py
  packages/pulse-railway/tests/test_railway_railway.py
  skills/pulse-railway/SKILL.md
  uv.lock
Due: none

Release pulse-railway 0.1.3
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/auth.py
  packages/pulse-railway/tests/test_railway_auth.py
  uv.lock
Due: none

Release pulse-railway 0.1.4
  packages/pulse-railway/pyproject.toml
  packages/pulse-railway/src/pulse_railway/railway.py
  packages/pulse-railway/tests/test_railway_railway.py
  uv.lock
Due: none

feat(pulse-railway): add scaffold and ensure baseline commands
  packages/pulse-railway/src/pulse_railway/cli.py
  packages/pulse-railway/src/pulse_railway/commands/common.py
  packages/pulse-railway/src/pulse_railway/commands/scaffold.py
  packages/pulse-railway/src/pulse_railway/commands/upgrade.py
  packages/pulse-railway/src/pulse_railway/stack.py
  packages/pulse-railway/tests/test_railway_janitor.py
  packages/pulse-railway/tests/test_railway_stack.py
Due: none
