Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

add ps.init() magic hook
  bun.lock
  examples/init_hook.py
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/hooks/core.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_init_hook.py
  uv.lock
Due: sync-versions, biome-check, bun-install

wip
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/tests/test_state_infinite_query.py
Due: none

wip
  examples/infinite_query.py
  examples/query.py
  packages/pulse-aws/scripts/verify_baseline.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/effect.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_state_infinite_query.py
  packages/pulse/python/tests/test_state_query.py
Due: none

Refactor query system and enhance reactivity
  examples/query.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/effect.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/reactive_extensions.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_client.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_state_query.py
Due: none

fix Pyright warnings and errors
  examples/infinite_query.py
  packages/pulse/python/src/pulse/reactive_extensions.py
  packages/pulse/python/tests/test_reactive.py
Due: none

fix infinite query cancellation behavior + remove debug pri ts
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/tests/test_infinite_query.py
Due: none

removing additional debug print
  packages/pulse/python/tests/test_infinite_query.py
Due: none

Add infinite queries and refactor query system (#42)
  examples/infinite_query.py
  examples/query.py
  packages/pulse-aws/scripts/verify_baseline.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/effect.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/query_observer.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/reactive_extensions.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_client.py
  packages/pulse/python/tests/test_reactive.py
  packages/pulse/python/tests/test_state_query.py
Due: none

slight effect optimization to not reschedule on push_change
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_reactive.py
Due: none

pulse: bump versions
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install

transfer over js transpiler v1
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/html/tags.py
  packages/pulse/python/src/pulse/javascript/__init__.py
  packages/pulse/python/src/pulse/javascript/builtins.py
  packages/pulse/python/src/pulse/javascript/format_spec.py
  packages/pulse/python/src/pulse/javascript/function.py
  packages/pulse/python/src/pulse/javascript/nodes.py
  packages/pulse/python/src/pulse/javascript/transpiler.py
  packages/pulse/python/src/pulse/javascript/utils.py
  packages/pulse/python/tests/js-transpiler/__init__.py
  packages/pulse/python/tests/js-transpiler/test_arrays.py
  packages/pulse/python/tests/js-transpiler/test_builtins.py
  packages/pulse/python/tests/js-transpiler/test_dict.py
  packages/pulse/python/tests/js-transpiler/test_errors.py
  packages/pulse/python/tests/js-transpiler/test_fstrings.py
  packages/pulse/python/tests/js-transpiler/test_jsfunction.py
  packages/pulse/python/tests/js-transpiler/test_jsx.py
  packages/pulse/python/tests/js-transpiler/test_loops.py
  packages/pulse/python/tests/js-transpiler/test_nodes_ops.py
  packages/pulse/python/tests/js-transpiler/test_objects.py
  packages/pulse/python/tests/js-transpiler/test_operators.py
  packages/pulse/python/tests/js-transpiler/test_precedence.py
  packages/pulse/python/tests/js-transpiler/test_set.py
  packages/pulse/python/tests/js-transpiler/test_statements.py
  packages/pulse/python/tests/js-transpiler/test_strings.py
Due: none

fix JS v1 tests
  packages/pulse/python/src/pulse/javascript/builtins.py
  packages/pulse/python/src/pulse/javascript/function.py
  packages/pulse/python/src/pulse/javascript/transpiler.py
Due: none

isolate import changes
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/imports.py
  packages/pulse/python/src/pulse/codegen/js.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/css.py
  packages/pulse/python/src/pulse/javascript_v2/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/codegen.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/imports.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/tests/javascript_v2/test_codegen.py
  packages/pulse/python/tests/javascript_v2/test_function.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_renderer.py
Due: none

Remove React top-level module usage
  packages/pulse/js/src/form.tsx
  packages/pulse/js/src/serialize/events.ts
Due: biome-check

checkpoint
  bun.lock
  packages/pulse/python/src/pulse/javascript_v2/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/codegen.py
  packages/pulse/python/src/pulse/javascript_v2/constants.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/ids.py
  packages/pulse/python/src/pulse/javascript_v2/imports.py
  packages/pulse/python/src/pulse/javascript_v2/introspection.py
  packages/pulse/python/src/pulse/javascript_v2/module.py
  packages/pulse/python/src/pulse/javascript_v2/modules/math.py
  packages/pulse/python/src/pulse/js/__init__.py
  packages/pulse/python/src/pulse/js/_core.py
  packages/pulse/python/src/pulse/js/math.py
  packages/pulse/python/tests/javascript_v2/test_codegen.py
  packages/pulse/python/tests/javascript_v2/test_function.py
  packages/pulse/python/tests/javascript_v2/test_introspection.py
  scripts/closure_test.py
Due: bun-install

agent guidelines
  AGENTS.md
  CLAUDE.md
Due: none

wip
  AGENTS.md
  packages/pulse-mantine/python/src/pulse_mantine/charts/chart_tooltip.py
  packages/pulse-mantine/python/src/pulse_mantine/core/provider.py
  packages/pulse-mantine/python/src/pulse_mantine/dates/dates_provider.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/imports.py
  packages/pulse/python/src/pulse/codegen/js.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/javascript_v2/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/example_route.tsx
  packages/pulse/python/src/pulse/javascript_v2/imports.py
  packages/pulse/python/src/pulse/javascript_v2/module.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/tests/test_codegen.py
  plans/codegen-rewrite.md
Due: biome-check

handle JSExpr in renderer
  AGENTS.md
  examples/pulse-mantine/05-css-modules.py
  examples/registry-demo.module.css
  examples/registry_demo.py
  examples/web/app/components/utils.ts
  packages/pulse-mantine/python/src/pulse_mantine/charts/chart_tooltip.py
  packages/pulse-mantine/python/src/pulse_mantine/core/feedback/notifications.py
  packages/pulse-mantine/python/src/pulse_mantine/core/navigation/tree.py
  packages/pulse-mantine/python/src/pulse_mantine/core/provider.py
  packages/pulse-mantine/python/src/pulse_mantine/dates/dates_provider.py
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/js.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/css.py
  packages/pulse/python/src/pulse/html/props.py
  packages/pulse/python/src/pulse/javascript_v2/context.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/imports.py
  packages/pulse/python/src/pulse/javascript_v2/nodes.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/tests/javascript_v2/test_jsexpr.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/test_react.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

transpilation v1
  examples/transpiled_functions.py
  examples/web/app/components/function-tester.tsx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/javascript_v2/builtins.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/modules/math.py
  packages/pulse/python/src/pulse/javascript_v2/nodes.py
  packages/pulse/python/src/pulse/javascript_v2/transpiler.py
  packages/pulse/python/src/pulse/js/math.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/tests/javascript/test_loops.py
  packages/pulse/python/tests/javascript_v2/test_transpiler.py
  packages/pulse/python/tests/test_codegen.py
Due: biome-check

output routes as JSX
  examples/web/tsconfig.json
  packages/pulse/python/src/pulse/routing.py
Due: biome-check

fix: ensure session effects subscribe to ReactiveDict changes via unwrap
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/user_session.py
  uv.lock
Due: sync-versions, biome-check, bun-install

fix keep_previous_data for unkeyed queries
  examples/main.py
  packages/pulse/python/src/pulse/queries/effect.py
  packages/pulse/python/tests/test_query.py
Due: none

validate props and children at Node creation time
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_nodes.py
Due: biome-check

pause -> resume -> rehydrate RenderSession on disconnect -> reconnect
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_render_session.py
Due: none

checkpoint
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/javascript_v2/builtins.py
  packages/pulse/python/src/pulse/javascript_v2/example_route.tsx
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/module.py
  packages/pulse/python/src/pulse/javascript_v2/modules/__init__.py
  packages/pulse/python/src/pulse/javascript_v2/modules/math.py
  packages/pulse/python/src/pulse/javascript_v2/nodes.py
  packages/pulse/python/src/pulse/javascript_v2/transpiler.py
  packages/pulse/python/tests/javascript_v2/test_transpiler.py
  packages/pulse/python/tests/test_codegen.py
Due: biome-check

move fetch functions into QueryResult/InfiniteQueryResult
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/reactive.py
  packages/pulse/python/tests/test_infinite_query.py
  packages/pulse/python/tests/test_query.py
  packages/pulse/python/tests/test_query_client.py
Due: none

properly cancel keyed query fetches on unobserve
  examples/main.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/tests/test_query.py
Due: none

more query fixes
  examples/main.py
  examples/query.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/queries/client.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/protocol.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/queries/store.py
  packages/pulse/python/src/pulse/types/event_handler.py
  packages/pulse/python/tests/test_query.py
Due: none

wip
  examples/transpiled_functions.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/_examples/__init__.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/javascript_v2/builtins.py
  packages/pulse/python/src/pulse/javascript_v2/function.py
  packages/pulse/python/src/pulse/javascript_v2/imports.py
  packages/pulse/python/src/pulse/javascript_v2/module.py
  packages/pulse/python/src/pulse/javascript_v2/modules/math.py
  packages/pulse/python/src/pulse/javascript_v2/modules/number.py
  packages/pulse/python/src/pulse/javascript_v2/nodes.py
  packages/pulse/python/src/pulse/javascript_v2/transpiler.py
  packages/pulse/python/src/pulse/javascript_v2/types.py
  packages/pulse/python/src/pulse/js/_core.py
  packages/pulse/python/src/pulse/js/math.py
  packages/pulse/python/src/pulse/js/number.py
  packages/pulse/python/tests/javascript_v2/test_function.py
  packages/pulse/python/tests/javascript_v2/test_js_modules.py
  packages/pulse/python/tests/javascript_v2/test_transpiler.py
  pyrightconfig.json
Due: biome-check

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
