Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

implementation plan
  implementation-plan.md
Due: none

phase 1: add support for API prefix
  AGENTS.md
  bun.lock
  implementation-plan.md
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/tests/test_single_server.py
  scripts/test_phase1.py
Due: bun-install

phase 1.5: cleanup
  implementation-plan.md
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/tests/test_single_server.py
Due: none

implement single server mode + CLI
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/proxy.py
  uv.lock
Due: sync-versions

CLI refactor
  examples/main.py
  implementation-plan.md
  packages/pulse-msal/src/pulse_msal/plugin.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/cli/helpers.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/secrets.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/conftest.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_cli_packages.py
  packages/pulse/python/tests/test_single_server.py
  plans/pulse_cli_refactor.md
  scripts/test_phase1.py
  test_parent_child_lock.py
Due: none

Single-server deployment mode (#37)
  AGENTS.md
  bun.lock
  examples/main.py
  implementation-plan.md
  packages/pulse-msal/src/pulse_msal/plugin.py
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
  packages/pulse/python/src/pulse/cli/helpers.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/src/pulse/cli/secrets.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/src/pulse/user_session.py
  packages/pulse/python/tests/conftest.py
  packages/pulse/python/tests/test_cli.py
  packages/pulse/python/tests/test_cli_packages.py
  packages/pulse/python/tests/test_single_server.py
  plans/pulse_cli_refactor.md
  test_parent_child_lock.py
  uv.lock
Due: sync-versions, bun-install

implementation plan
  plans/pulse_logging_improvements.md
Due: none

wip planning
  plans/pulse_logging_exec_plan.md
  plans/pulse_logging_improvements.md
Due: none

setup plan + minor cleanup
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/render_session.py
  plans/pulse_state_persistence.md
Due: none

phase 1
  implementation-plan.md
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/src/pulse/reactive_extensions.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_state.py
  test_parent_child_lock.py
Due: none

phase 2
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/query.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_state.py
  plans/pulse_state_persistence.md
  uv.lock
Due: sync-versions

phase 3
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_state.py
Due: none

phase 4+5
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/context.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_state.py
  pyrightconfig.json
Due: biome-check

phase 6, example, pickling of reactive containers
  examples/main.py
  examples/state_persistence.py
  packages/pulse/python/src/pulse/reactive_extensions.py
  packages/pulse/python/tests/test_reactive.py
  tutorial/examples/07-input-with-validation.py
  tutorial/examples/09-effects.py
Due: none

render session persistence plan
  plans/pulse_render_session_persistence.md
Due: none

RenderSession intermediate refactor plan
  packages/pulse/python/src/pulse/render_session.py
  plans/render_session_refactor.md
Due: none

refactor first pass
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/tests/test_render_session.py
  plans/render_session_refactor.md
Due: none

exec plan
  packages/pulse/python/src/pulse/app.py
  plans/aws-ecs-deployment-exec-plan.md
  plans/aws-ecs-deployment.md
  plans/pulse_cli_refactor.md
Due: none

baseline infra wip
  packages/pulse-aws/README.md
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/__init__.py
  packages/pulse-aws/src/pulse_aws/cdk/app.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/cdk.json
  packages/pulse-aws/src/pulse_aws/cdk/helpers.py
  packages/pulse-aws/src/pulse_aws/py.typed
  packages/pulse-aws/tests/test_baseline_helper.py
  packages/pulse-aws/tests/test_cdk_baseline.py
  packages/pulse/python/src/pulse/cli/processes.py
  plans/aws-ecs-deployment-exec-plan.md
  pyproject.toml
  pyrightconfig.json
  uv.lock
Due: biome-check

deployment infra + affinity is working
  .gitignore
  packages/pulse-aws/ARCHITECTURE.md
  packages/pulse-aws/README.md
  packages/pulse-aws/examples/Dockerfile
  packages/pulse-aws/examples/__init__.py
  packages/pulse-aws/examples/aws_minimal_server.py
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/scripts/README.md
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/scripts/teardown.py
  packages/pulse-aws/scripts/test_certificate.py
  packages/pulse-aws/scripts/verify.py
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/app.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/certificate.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/teardown.py
  packages/pulse-aws/tests/test_baseline_helper.py
  packages/pulse-aws/tests/test_cdk_baseline.py
  packages/pulse-aws/tests/test_helpers.py
  plans/aws-ecs-deployment-exec-plan.md
  uv.lock
Due: none

prepare draining + reaper implementation
  .gitignore
  packages/pulse-aws/README.md
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/scripts/verify.py
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/certificate.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/reporting.py
  packages/pulse-aws/src/pulse_aws/teardown.py
  packages/pulse-aws/tests/test_baseline_helper.py
  plans/aws-ecs-deployment-exec-plan.md
  plans/ecs-draining-reaper.md
Due: none

fix lint and type errors
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/certificate.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/reporting.py
  packages/pulse-aws/src/pulse_aws/teardown.py
  pyrightconfig.json
Due: biome-check

working drain setup
  packages/pulse-aws/examples/Dockerfile
  packages/pulse-aws/examples/aws_minimal_server.py
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  plans/aws-ecs-deployment-exec-plan.md
  plans/ecs-draining-reaper.md
  plans/reaper_lambda.py
Due: none

working drain system
  packages/pulse-aws/examples/Dockerfile
  packages/pulse-aws/examples/aws_minimal_server.py
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/app.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/config.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  plans/aws-ecs-deployment-exec-plan.md
  plans/ecs-draining-reaper.md
Due: none

working single server Dockerfile (whew harder than expected)
  .dockerignore
  examples/aws-ecs/Dockerfile
  examples/aws-ecs/README.md
  examples/aws-ecs/main.py
  examples/aws-ecs/pyproject.toml
  examples/aws-ecs/uv.lock
  examples/aws-ecs/web/.gitignore
  examples/aws-ecs/web/README.md
  examples/aws-ecs/web/app/app.css
  examples/aws-ecs/web/app/components/date-picker.tsx
  examples/aws-ecs/web/app/root.tsx
  examples/aws-ecs/web/app/routes.ts
  examples/aws-ecs/web/bun.lock
  examples/aws-ecs/web/package.json
  examples/aws-ecs/web/public/favicon.ico
  examples/aws-ecs/web/react-router.config.ts
  examples/aws-ecs/web/tsconfig.json
  examples/aws-ecs/web/vite.config.ts
  packages/pulse-aws/examples/Dockerfile
  packages/pulse/js/package.json
  packages/pulse/js/src/usePulseChannel.ts
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
  packages/pulse/python/src/pulse/cli/helpers.py
  packages/pulse/python/src/pulse/cli/models.py
  packages/pulse/python/src/pulse/cli/secrets.py
  packages/pulse/python/src/pulse/cli/uvicorn_log_config.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/cookies.py
  packages/pulse/python/src/pulse/env.py
  packages/pulse/python/src/pulse/helpers.py
  packages/pulse/python/src/pulse/proxy.py
  packages/pulse/python/tests/test_cli.py
  plans/aws-ecs-deployment-exec-plan.md
  scripts/sync_versions.py
  uv.lock
Due: sync-versions, biome-check

phase 3.2 achieved: zero-downtime deployment with live websocket
  examples/aws-ecs/Dockerfile
  examples/aws-ecs/main.py
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/src/pulse_aws/config.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  plans/aws-ecs-deployment-exec-plan.md
Due: none

Add keep_previous_data option for refetch
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/query.py
Due: biome-check

phase 3.3: Pulse runtime changes
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  packages/pulse/python/src/pulse/messages.py
  packages/pulse/python/src/pulse/middleware.py
  packages/pulse/python/src/pulse/plugin.py
Due: biome-check

fixes
  examples/aws-ecs/pyproject.toml
  examples/aws-ecs/uv.lock
  examples/aws-ecs/web/bun.lock
  examples/aws-ecs/web/package.json
  examples/main.py
  examples/pulse-mantine/web/tsconfig.json
  examples/web/tsconfig.json
  packages/pulse/js/package.json
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/codegen/templates/layout.py
  uv.lock
Due: sync-versions, biome-check

confirm affinity based routing works, fix AWSECSPlugin logging
  .vscode/settings.json
  examples/aws-ecs/main.py
  examples/main.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_render_session.py
  packages/pulse/python/tests/test_state.py
Due: biome-check

AWS setup simplification
  examples/aws-ecs/main.py
  examples/aws-ecs/pyproject.toml
  examples/aws-ecs/uv.lock
  examples/aws-ecs/web/bun.lock
  examples/aws-ecs/web/package.json
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/scripts/deploy.py
  packages/pulse-aws/src/pulse_aws/__init__.py
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/app.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/config.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/processes.py
  uv.lock
Due: sync-versions, biome-check

final adjustments to pulse-aws
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/plugin.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
Due: none

enable verification of Cloudflare proxied domains
  packages/pulse-aws/pyproject.toml
  packages/pulse-aws/src/pulse_aws/baseline.py
  packages/pulse-aws/src/pulse_aws/cdk/baseline.py
  packages/pulse-aws/src/pulse_aws/deployment.py
  uv.lock
Due: none

fix CI errors
  packages/pulse-aws/src/pulse_aws/deployment.py
  packages/pulse-aws/src/pulse_aws/reaper_lambda.py
  packages/pulse/python/src/pulse/middleware.py
  packages/pulse/python/tests/test_render_session.py
Due: none

bump Pulse version out of alpha
  examples/aws-ecs/pyproject.toml
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check

fix API prefix error spotted by Codex
  packages/pulse/python/src/pulse/app.py
Due: none

update bun.lock
  bun.lock
Due: bun-install

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
