Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

update python-multipart in examples/aws-ecs
  examples/aws-ecs/uv.lock
Due: none

remove leftover ISSUES.md
  ISSUES.md
Due: none

Suppress noisy Vite logs in pulse run output
  packages/pulse/python/src/pulse/cli/processes.py
Due: none

Suppress noisy Vite logs in pulse run output (#75)
  packages/pulse/python/src/pulse/cli/processes.py
Due: none

Add QueryParam URL sync
  examples/query_param.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/tests/test_query_param.py
  specs/queryparam-url-state.md
Due: none

Serialize dates as ISO strings
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/tests/test_serializer.py
Due: biome-check

Validate date literals during deserialization
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
Due: biome-check

Validate date literals in JS deserializer (#76)
  packages/pulse/js/src/serialize/serializer.test.ts
  packages/pulse/js/src/serialize/serializer.ts
  packages/pulse/python/src/pulse/serializer.py
  packages/pulse/python/tests/test_serializer.py
Due: biome-check

Refactor state modules
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/hooks/state.py
  packages/pulse/python/src/pulse/queries/common.py
  packages/pulse/python/src/pulse/queries/infinite_query.py
  packages/pulse/python/src/pulse/queries/mutation.py
  packages/pulse/python/src/pulse/queries/query.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/state.py
  packages/pulse/python/src/pulse/state/__init__.py
  packages/pulse/python/src/pulse/state/property.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_inline_effects.py
Due: none

Bump python requirement to 3.12
  examples/query_param.py
  packages/pulse-aws/pyproject.toml
  packages/pulse-lucide/pyproject.toml
  packages/pulse-recharts/pyproject.toml
  packages/pulse/python/pyproject.toml
  pyproject.toml
  test.py
Due: sync-versions

Fix QueryParam sync and annotation handling
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_query_param.py
  specs/queryparam-url-state.md
Due: none

Add subscript and attribute assignment support to transpiler
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
Due: none

Fix QueryParam hash and annotation handling
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/src/pulse/state/state.py
  packages/pulse/python/tests/test_query_param.py
  specs/queryparam-url-state.md
  test.py
Due: none

Restore spec and test helper
  specs/queryparam-url-state.md
  test.py
Due: none

Fix subscript/attribute assignment emission
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
Due: none

Update route helpers and QueryParam sync
  docs/content/docs/(core)/concepts/routing.mdx
  docs/content/docs/(core)/cookbook/auth/msal-login.mdx
  docs/content/docs/(core)/tutorial/11-routing.mdx
  docs/content/docs/reference/pulse/hooks.mdx
  docs/content/docs/reference/pulse/routing.mdx
  examples/aws-ecs/main.py
  examples/global_state.py
  examples/main.py
  examples/msal_auth.py
  examples/pulse-mantine/form.py
  examples/query_param.py
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/hooks/runtime.py
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_hooks.py
  packages/pulse/python/tests/test_query_param.py
  skills/pulse/SKILL.md
  skills/pulse/references/context.md
  skills/pulse/references/routing.md
Due: none

Fix negative subscript assignment normalization
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
  packages/pulse/python/tests/transpiler/test_emit.py
Due: none

Normalize route info query/hash values
  docs/content/docs/reference/pulse-client/types.mdx
  packages/pulse/js/src/helpers.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/state/query_param.py
  packages/pulse/python/tests/test_query_param.py
  packages/pulse/python/tests/test_render_session.py
  specs/queryparam-url-state.md
Due: biome-check

Make subscripts pass through
  docs/content/docs/reference/pulse-transpiler/emit-transpile.mdx
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_access.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
  skills/pulse/references/transpiler.md
Due: none

Fix route docs and remove test helper
  skills/pulse/references/routing.md
  test.py
Due: none

Honor custom assignment targets
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
  packages/pulse/python/tests/transpiler/test_emit.py
Due: none

Preserve debounced callback tracking on cleanup
  packages/pulse/js/src/renderer.tsx
Due: biome-check

Fix debounced callback updates and cleanup
  examples/debounced.py
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

fix implicit string concatenation
  packages/pulse/python/src/pulse/transpiler/nodes.py
Due: none

update next version against CVE
  docs/bun.lock
  docs/package.json
Due: biome-check

Add subscript and attribute assignment support (#78)
  docs/content/docs/reference/pulse-transpiler/emit-transpile.mdx
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/src/pulse/transpiler/transpiler.py
  packages/pulse/python/tests/transpiler/test_access.py
  packages/pulse/python/tests/transpiler/test_control_flow.py
  packages/pulse/python/tests/transpiler/test_emit.py
  skills/pulse/references/transpiler.md
Due: none

Add debounced callbacks (#69)
  docs/content/docs/(core)/concepts/events.mdx
  docs/content/docs/(core)/glossary.mdx
  examples/debounced.py
  packages/pulse/js/src/pulse.tsx
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer.tsx
  packages/pulse/js/src/vdom.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/debounce.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/vdom.py
  packages/pulse/python/tests/test_debounce.py
  packages/pulse/python/tests/test_renderer.py
Due: biome-check

Add Combobox hook support with state management
  bun.lock
  examples/pulse-mantine/07-combobox.py
  examples/pulse-mantine/web/package.json
  packages/pulse-mantine/js/src/combobox.tsx
  packages/pulse-mantine/js/src/index.ts
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
  packages/pulse-mantine/python/src/pulse_mantine/core/combobox/combobox.py
  packages/pulse-mantine/python/tests/test_combobox_store.py
Due: biome-check, bun-install

Pin mantine minimum and restore Notifications export
  bun.lock
  packages/pulse-mantine/python/src/pulse_mantine/__init__.py
  packages/pulse-mantine/python/src/pulse_mantine/__init__.pyi
Due: bun-install

clean up internal hooks code
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/decorators.py
  packages/pulse/python/src/pulse/hooks/effects.py
  packages/pulse/python/src/pulse/hooks/setup.py
  packages/pulse/python/src/pulse/hooks/stable.py
  packages/pulse/python/src/pulse/hooks/state.py
Due: none

pulse 0.1.72
  bun.lock
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check, bun-install
