Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

sync-versions:
  name: Sync Python to JS package versions
  entry: python scripts/sync_versions.py
  language: system
  pass_filenames: false

biome-check:
  name: biome check
  entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
  language: system

bun-install:
  name: Update bun lockfile
  entry: bun install
  language: system
  pass_filenames: false

Bump pulse version to 0.1.54
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check

Bump versions for modified packages (#60)
  packages/pulse/js/package.json
  packages/pulse/python/pyproject.toml
  uv.lock
Due: sync-versions, biome-check

working on spec + code-splitting POC plan
  bun.lock
  plans/code-splitting-poc.md
  plans/minimal-react-framework.md
Due: bun-install

Ralph scaffolding
  .claude/skills/prd-gen/SKILL.md
  .claude/skills/prd-gen/check_topo.py
  .claude/skills/project-init/SKILL.md
  plans/code-splitting-poc/prd.json
  plans/code-splitting-poc/progress.txt
  plans/code-splitting-poc/prompt.md
  plans/code-splitting-poc/run-once.sh
  plans/code-splitting-poc/run.sh
  plans/code-splitting-poc/spec.md
Due: biome-check

feat: F-0001 - Initialize POC project with Vite + React + TypeScript
  plans/code-splitting-poc/prd.json
  poc/.gitignore
  poc/README.md
  poc/bun.lock
  poc/eslint.config.js
  poc/index.html
  poc/package.json
  poc/public/vite.svg
  poc/src/App.css
  poc/src/App.tsx
  poc/src/assets/react.svg
  poc/src/index.css
  poc/src/main.tsx
  poc/tsconfig.app.json
  poc/tsconfig.json
  poc/tsconfig.node.json
  poc/vite.config.ts
Due: biome-check

feat: F-0002 - Create VDOM type definitions and renderer
  plans/code-splitting-poc/prd.json
  poc/src/vdom-renderer.tsx
Due: biome-check

feat: F-0003 - Create route matching utility
  plans/code-splitting-poc/prd.json
  poc/src/router/match.ts
Due: biome-check

feat: F-0004 - Create test components with distinct dependencies
  plans/code-splitting-poc/prd.json
  poc/bun.lock
  poc/package.json
  poc/src/components/dashboard-chart.tsx
  poc/src/components/home-widget.tsx
  poc/src/components/settings-form.tsx
Due: biome-check

feat: F-0005 - Create route registry files with dynamic imports
  plans/code-splitting-poc/prd.json
  poc/src/routes/dashboard.tsx
  poc/src/routes/home.tsx
  poc/src/routes/index.ts
  poc/src/routes/settings.tsx
Due: biome-check

feat: F-0006 - Create dynamic chunk loader with cache
  poc/src/router/loader.ts
Due: biome-check

feat: F-0007 - Create prefetch utilities
  poc/src/router/prefetch.ts
Due: biome-check

feat: F-0008 - Create App component with navigation
  poc/src/App.tsx
  poc/src/app.tsx
Due: biome-check

feat: F-0009 - Create client entry with hydration support
  poc/src/entry-client.tsx
Due: biome-check

feat: F-0010 - Create HTML template
  poc/index.html
Due: none

feat: F-0011 - Create Bun SSR server
  poc/bun.lock
  poc/package.json
  poc/server/ssr.ts
  poc/src/main.tsx
  poc/src/vite-env.d.ts
  poc/tsconfig.json
  poc/tsconfig.server.json
Due: biome-check

feat: F-0012 - Create bundle analysis test
  poc/test/bundle-analysis.ts
Due: biome-check

feat: F-0013 - Verify Vite build creates separate chunks
  plans/code-splitting-poc/prd.json
  plans/code-splitting-poc/progress.txt
Due: biome-check

feat: F-0014 - Verify SSR renders correct HTML
  plans/code-splitting-poc/prd.json
  plans/code-splitting-poc/progress.txt
Due: biome-check

feat: F-0015 - Add Vite dev and preview scripts
  plans/code-splitting-poc/prd.json
  plans/code-splitting-poc/progress.txt
  poc/package.json
Due: biome-check

feat: F-0016 - Final validation: all POC goals verified
  plans/code-splitting-poc/prd.json
  plans/code-splitting-poc/progress.txt
  poc/README.md
Due: biome-check

feat: add steel wire and test-early patterns to prd-gen skill
  .claude/skills/prd-gen/SKILL.md
  .claude/skills/prd-gen/available_tasks.py
Due: none

Path conditions:
  sync-versions: any of: ^packages/.*/python/pyproject\.toml$
  biome-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?)$
  bun-install: any of: ^(package\.json|bun\.lock)$
