Repository erwinkn/pulse-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-versions, biome-check, bun-install

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.1
    hooks:
      # Run the linter (.py, .pyi only)
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
      # Run the formatter (.py, .pyi only)
      - id: ruff-format
        types_or: [python, pyi]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.4
    hooks:
      - id: uv-lock
        # Required for monorepo (= uv workspace) support
        files: ^(uv\.lock|pyproject\.toml|uv\.toml|.*/pyproject\.toml)$

  # Local hook to reuse the Biome version installed as dev dependency
  - repo: local
    hooks:
      - id: sync-versions
        name: Sync Python to JS package versions
        entry: python scripts/sync_versions.py
        language: system
        files: ^packages/.*/python/pyproject\.toml$
        pass_filenames: false
      - id: biome-check
        name: biome check
        entry: bunx --bun @biomejs/biome check --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?)$"
      - id: bun-install
        name: Update bun lockfile
        entry: bun install
        language: system
        files: ^(package\.json|bun\.lock)$
        pass_filenames: false

typechecking perf script
  .gitignore
  scripts/typecheck_stats.py
Due: none

checkpoint
  packages/pulse-lucide/scripts/generate.py
  packages/pulse-lucide/src/pulse_lucide/__init__.py
  packages/pulse-lucide/src/pulse_lucide/__init__.pyi
  packages/pulse-lucide/src/pulse_lucide/props.py
  packages/pulse/js/src/client.tsx
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/messages.ts
  packages/pulse/js/src/pulse.tsx
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/components/react_router.py
  packages/pulse/python/src/pulse/hooks/init.py
  packages/pulse/python/src/pulse/react_component.py
  packages/pulse/python/src/pulse/transpiler/__init__.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/imports.py
  packages/pulse/python/src/pulse/transpiler/jsx.py
  packages/pulse/python/src/pulse/transpiler/modules/tags.py
  packages/pulse/python/src/pulse/vdom.py
  packages/pulse/python/tests/test_react.py
  packages/pulse/python/tests/transpiler/test_jsx.py
  plans/node-jsexpr-unification.md
Due: biome-check

setup new VDOM and client-side renderer
  bun.lock
  bunfig.toml
  packages/pulse/js/bunfig.toml
  packages/pulse/js/package.json
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer2.test.tsx
  packages/pulse/js/src/renderer2.tsx
  packages/pulse/js/src/vdom2.ts
  packages/pulse/js/test/happydom.ts
  packages/pulse/js/test/matchers.d.ts
  packages/pulse/js/test/testing-library.ts
  packages/pulse/python/src/pulse/transpiler_v2/__init__.py
  packages/pulse/python/src/pulse/transpiler_v2/react_component.py
  packages/pulse/python/src/pulse/transpiler_v2/vdom.py
Due: biome-check, bun-install

setup new VDOM and client-side renderer
  bun.lock
  bunfig.toml
  notes.md
  packages/pulse/js/bunfig.toml
  packages/pulse/js/package.json
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/renderer.test.tsx
  packages/pulse/js/src/renderer2.test.tsx
  packages/pulse/js/src/renderer2.tsx
  packages/pulse/js/src/vdom2.ts
  packages/pulse/js/test/happydom.ts
  packages/pulse/js/test/matchers.d.ts
  packages/pulse/js/test/testing-library.ts
  packages/pulse/python/src/pulse/transpiler_v2/__init__.py
  packages/pulse/python/src/pulse/transpiler_v2/react_component.py
  packages/pulse/python/src/pulse/transpiler_v2/vdom.py
Due: biome-check, bun-install

checkpoint, passing tests
  bun.lock
  examples/transpiled_functions.py
  examples/web/package.json
  packages/pulse/js/test/matchers.d.ts
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/_examples.py
  packages/pulse/python/src/pulse/cli/dependencies.py
  packages/pulse/python/src/pulse/cli/packages.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/components/react_router.py
  packages/pulse/python/src/pulse/transpiler_v2/__init__.py
  packages/pulse/python/src/pulse/transpiler_v2/function.py
  packages/pulse/python/src/pulse/transpiler_v2/id.py
  packages/pulse/python/src/pulse/transpiler_v2/imports.py
  packages/pulse/python/src/pulse/transpiler_v2/js_module.py
  packages/pulse/python/src/pulse/transpiler_v2/nodes.py
  packages/pulse/python/src/pulse/transpiler_v2/react_component.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/transpiler_v2/test_access.py
  packages/pulse/python/tests/transpiler_v2/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler_v2/test_async.py
  packages/pulse/python/tests/transpiler_v2/test_comparisons.py
  packages/pulse/python/tests/transpiler_v2/test_control_flow.py
  packages/pulse/python/tests/transpiler_v2/test_emit.py
  packages/pulse/python/tests/transpiler_v2/test_errors.py
  packages/pulse/python/tests/transpiler_v2/test_expressions.py
  packages/pulse/python/tests/transpiler_v2/test_import_paths.py
  packages/pulse/python/tests/transpiler_v2/test_imports.py
  packages/pulse/python/tests/transpiler_v2/test_javascript_decorator.py
  packages/pulse/python/tests/transpiler_v2/test_jsx.py
  packages/pulse/python/tests/transpiler_v2/test_registry.py
  packages/pulse/python/tests/transpiler_v2/test_transpiler.py
Due: biome-check, bun-install

checkpoint
  bun.lock
  examples/main.py
  examples/transpiled_functions.py
  examples/web/package.json
  packages/pulse/python/src/pulse/__init__.py
  packages/pulse/python/src/pulse/app.py
  packages/pulse/python/src/pulse/cli/folder_lock.py
  packages/pulse/python/src/pulse/codegen/codegen.py
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/components/react_router.py
  packages/pulse/python/src/pulse/routing.py
  packages/pulse/python/src/pulse/transpiler_v2/__init__.py
  packages/pulse/python/src/pulse/transpiler_v2/function.py
  packages/pulse/python/src/pulse/transpiler_v2/nodes.py
  packages/pulse/python/src/pulse/transpiler_v2/react_component.py
  packages/pulse/python/tests/test_codegen.py
  packages/pulse/python/tests/transpiler_v2/test_import_paths.py
  packages/pulse/python/tests/transpiler_v2/test_imports.py
  packages/pulse/python/tests/transpiler_v2/test_jsx.py
  packages/pulse/python/tests/transpiler_v2/test_registry.py
Due: biome-check, bun-install

fix codegen
  packages/pulse/python/src/pulse/transpiler_v2/builtins.py
  packages/pulse/python/src/pulse/transpiler_v2/transpiler.py
  packages/pulse/python/tests/transpiler_v2/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler_v2/test_builtins.py
Due: none

simplify CLI logs + add plain mode
  packages/pulse/python/src/pulse/cli/cmd.py
  packages/pulse/python/src/pulse/cli/helpers.py
  packages/pulse/python/src/pulse/cli/logging.py
  packages/pulse/python/src/pulse/cli/processes.py
  packages/pulse/python/tests/test_cli.py
Due: none

get transpiled_functions.py running
  examples/transpiled_functions.py
  packages/pulse/python/src/pulse/js2/__init__.py
  packages/pulse/python/src/pulse/js2/__init__.pyi
  packages/pulse/python/src/pulse/transpiler_v2/builtins.py
  packages/pulse/python/src/pulse/transpiler_v2/errors.py
  packages/pulse/python/src/pulse/transpiler_v2/function.py
  packages/pulse/python/src/pulse/transpiler_v2/nodes.py
  packages/pulse/python/src/pulse/transpiler_v2/transpiler.py
  packages/pulse/python/tests/transpiler_v2/test_control_flow.py
  packages/pulse/python/tests/transpiler_v2/test_jsx.py
  packages/pulse/python/tests/transpiler_v2/test_registry.py
Due: none

add make init
  Makefile
  bun.lock
Due: bun-install

context7 skill
  .claude/skills/context7/SKILL.md
Due: none

checkpoint
  AGENTS.md
  packages/pulse/python/src/pulse/dom/tags.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler_v2/builtins.py
  packages/pulse/python/src/pulse/transpiler_v2/errors.py
  packages/pulse/python/src/pulse/transpiler_v2/function.py
  packages/pulse/python/src/pulse/transpiler_v2/imports.py
  packages/pulse/python/src/pulse/transpiler_v2/js_module.py
  packages/pulse/python/src/pulse/transpiler_v2/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler_v2/modules/typing.py
  packages/pulse/python/src/pulse/transpiler_v2/nodes.py
  packages/pulse/python/src/pulse/transpiler_v2/py_module.py
  packages/pulse/python/src/pulse/transpiler_v2/transpiler.py
  packages/pulse/python/tests/transpiler_v2/test_advanced_expressions.py
  packages/pulse/python/tests/transpiler_v2/test_builtins.py
  packages/pulse/python/tests/transpiler_v2/test_control_flow.py
  packages/pulse/python/tests/transpiler_v2/test_emit.py
  packages/pulse/python/tests/transpiler_v2/test_expressions.py
  packages/pulse/python/tests/transpiler_v2/test_jsx.py
  plans/transpiler-v2-review.md
Due: none

[NEEDS REVIEW] allow Expr.render() to return VDOMNode with primitives
  packages/pulse/js/src/renderer2.tsx
  packages/pulse/js/src/vdom2.ts
  packages/pulse/python/src/pulse/transpiler_v2/function.py
  packages/pulse/python/src/pulse/transpiler_v2/imports.py
  packages/pulse/python/src/pulse/transpiler_v2/js_module.py
  packages/pulse/python/src/pulse/transpiler_v2/modules/pulse/tags.py
  packages/pulse/python/src/pulse/transpiler_v2/modules/typing.py
  packages/pulse/python/src/pulse/transpiler_v2/nodes.py
  packages/pulse/python/src/pulse/transpiler_v2/py_module.py
  packages/pulse/python/src/pulse/transpiler_v2/vdom.py
Due: biome-check

a few fixes
  packages/pulse/js/src/channel.ts
  packages/pulse/js/src/index.ts
  packages/pulse/js/src/usePulseChannel.ts
  packages/pulse/python/src/pulse/codegen/templates/route.py
  packages/pulse/python/src/pulse/component.py
  packages/pulse/python/src/pulse/dom/tags.pyi
  packages/pulse/python/src/pulse/js/__init__.pyi
  packages/pulse/python/src/pulse/render_session.py
  packages/pulse/python/src/pulse/renderer.py
  packages/pulse/python/src/pulse/transpiler/function.py
  packages/pulse/python/src/pulse/transpiler/nodes.py
  packages/pulse/python/tests/transpiler_v2/test_emit.py
  packages/pulse/python/tests/transpiler_v2/test_expressions.py
  packages/pulse/python/tests/transpiler_v2/test_imports.py
  packages/pulse/python/tests/transpiler_v2/test_jsx.py
  packages/pulse/python/tests/transpiler_v2/test_py_module.py
  packages/pulse/python/tests/transpiler_v2/test_registry.py
Due: biome-check

update AGENTS.md/CLAUDE.md
  AGENTS.md
Due: none

add pre-commit hook install to make init
  Makefile
Due: none

add LSP plugins
  .claude/settings.json
Due: biome-check
